body {
/* 	background: rgb(254,254,255); */
/* background: linear-gradient(90deg, rgba(254,254,255,1) 0%, rgba(219,219,219,1) 67%, rgba(224,224,224,1) 100%); */
/* background: rgb(3,3,133); */
/* background: linear-gradient(90deg, rgba(3,3,133,1) 0%, rgba(6,10,83,1) 67%, rgba(0,0,0,1) 100%); */
/* background: rgb(3,3,111); */
/* background: linear-gradient(90deg, rgba(3,3,111,1) 0%, rgba(69,75,177,1) 49%, rgba(0,0,0,1) 100%); */
/* background-image: url("../images/virtual.jpg"); */
}


body, html {
  height: 100%;
}

.parallax {
  /* The image used */
/*   background-image: url("images/virtual2.jpg"); */

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#body{
	margin: 3rem;
	padding: 1rem;
	
}

.elemento {
	margin:.5rem;
	border-radius: 20px;
}

.seccionOperacion{
	margin: 1rem 5rem 5rem 3rem;
	border-radius: 20px;
}

.boxShadow, .elemento:hover {
/* 	-webkit-box-shadow: 5px 5px 15px 5px #89F8FB ;  */
/* box-shadow: 5px 5px 15px 5px #89F8FB ; */
/* border-style: solid; */
border-bottom-style: solid;
border-width: 1px;
border-radius: 20px;
 border-color: cyan;
background-color: rgba(0,0,0,0.55) !important;
}
.elementoInput {
/* 	-webkit-box-shadow: 5px 5px 15px 5px #89F8FB ;  */
/* box-shadow: 5px 5px 15px 5px #89F8FB ; */
border-bottom-style: solid;
border-width: 1px;
border-radius: 20px;
 border-color: cyan;
}

.menu2:hover {
/* 	box-shadow: 5px 5px 15px 5px #89F8FB; */
	cursor: pointer;
	padding:.5rem;
	border-radius:20px;
	background:#c0c0c0;
}
.activeItem {
	color: cyan;
	font-weight: bold;
	cursor: pointer;
	padding:.5rem;
	border-radius:20px;
	border-style: solid;
	border-color: #5DBA9A;
	background-color: rgba(0,0,0,0.75) !important;
}

.container-fluid {
/*     justify-content: center;     */
}

.v-center{
  display: flex;
  align-items: center;
}



.grupo{
	 display: flex;
	 flex-direction: row;
	justify-content: space-between;
}


#footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position:fix;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#C6C4C3;
    }

.footer{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.fijo {
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-outline-success2{
	background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
