<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTEC 2024</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="../../../images/logo.png"/>

    <link href="../../../main.css" rel="stylesheet">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    


</head>

<body background="../../../images/fondo6.png">

    
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <!--      HEAD INICIO    -->
    <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  src="../../../assets/images/logo.png"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    
                    <ul class="header-menu nav">
                    
                        <li class="dropdown nav-item">
                            <a href="javascript:alerta();" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="../../../assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
<!--                                         <div tabindex="-1" role="menu" aria-hidden="true" -->
<!--                                             class="dropdown-menu dropdown-menu-right"> -->
<!--                                             <a href="/CUsuario"><button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button></a> -->
                                            
<!--                                             <div tabindex="-1" class="dropdown-divider"></div> -->
<!--                                             <a href="/OffSession"><button type="button" tabindex="0" class="dropdown-item">Cerrar Sesion</button></a> -->
<!--                                         </div> -->
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
<!--                                     <div class="widget-heading"> -->
<!--                                         <span th:text="${Asignación.instructorAsignacion}"></span> -->
<!--                                     </div> -->
                                    <div class="widget-subheading">
                                    	<span > Instructor</span>
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--      HEAD FIN    --> 
        
        <div class="app-main">
            <!--     LEFT INICIO -->
	<div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a href="/" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>  
            </div> 
<!--     LEFT FIN --> 

              <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-car icon-gradient bg-warm-flame">
                                        </i>
                                    </div>
                                    <div>MENSAJE DE SISTEMA  
                                        <div class="page-title-subheading">EVENTO TIPO:.
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="app-header-right">
							<br>
							
								<div class="alert alert-warning" role="alert" id="dataExito">
									<h4><b>Sesion Inválida : </b>Ha vencido el tiempo de sesion de usuario.</h4> 
									
								</div>
								
					 </div>
                        </div>
                        
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="container mt-3">
							       <br><br><b><h2>
							       <i class="fa fa-pencil-square-o fa-2x" style="color:#d50f25"> </i>
							       <a href="https://www.control-uniprotec.com">Favor de ingresar</a></h2></b>
							       <br><br>
<!-- 							       	<div class='alert alert-info' id='proceso' role='alert'>Resumen de Proceso de Edicion: -->
<!-- 							       		<ul class='listaProceso'></ul> -->
<!-- 							       	</div> -->
							       
							       
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
 									<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        
                                       
									 </div>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->							           
							       
							   </div>
							</div>
                    </div>                            
                        <!-- 
                        	FIN DE SECCION DE EDICION 
                        -->

										 	<!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>2024</small>
                                                                </div>
                                                                UNIPROTEC 2024
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div></div></div>

                                <!-- Fin Footer-->
                
            </div>  <!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
<!-- </div>   app-container -->
<!-- 	<script type="text/javascript" src="js/jquery.min.js"></script> -->
 
    
    <script type="text/javascript" src="../../../js/main.js"></script>
<!--     <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="../../../js/jquery.min.js"></script>

   
   
    
</body>

</html>

