
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Uniprotec Games</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{images/logo.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"  th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{css/main.css}" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,600&display=swap" rel="stylesheet"> 
<!--===============================================================================================-->


</head>
<body class="parallax" background="images/virtual1.jpg" >
	<div id="head">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
		  <a class="navbar-brand" href="#"><img th:src="@{images/logoGamer.jpg}" alt=""  style="max-width: 12.0rem; max-height: 12.0rem"/></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor01">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item ">
		        <a class="nav-link" href="/inicio">Inicio
		          <span class="sr-only">(current)</span>
		        </a>
		      </li>
		    </ul>
		  </div>
		</nav>	
	</div>
	<div id="menuleft">
	</div>
	
	<div id="body">
		<div class="row boxShadow container-fluid">
			<div class="col-sm-6" style="">
			 <img th:src="@{images/IMAGEN_PROVISIONAL.png}" alt=""  class="img-fluid" style="max-width: 15.0rem; max-height: 15.0rem"/>
			 <p class="lead">Modulo Didáctico .</p>
			</div> 
			<div class="col-sm-6  " >
				<br><br>
				<ul class="fa-ul">
				  <li class="" id="usuarioAlta"><a class="menuA" href="#seccion0"><i class="menuAI fa-li fa fa-2x fa-microchip"></i><p>NOMBRE MODULO <span>nombreCurso</span><span>nombreEmpresa</span></p></a></li>
				</ul>
				<br>
			</div> 
		</div>
		<hr class="my-4">	
		<a id="seccion0"></a>
		<a id="seccion1"></a>
		
	
	</div>
	<div id="footer">
	
		<div id="footerDatos" class="footer">
			Derechos Reservados @Uniprotec 2021
		</div>
		<div id="footerLogo" class="footer">
			<img th:src="@{images/logo.png}" alt=""  style="max-width: 12.0rem; max-height: 12.0rem"/>
		</div>
	</div>
<script th:inline="javascript">
		var idModuloCurso	= 		[[${idModuloCurso}]];
	</script>




<!--===============================================================================================-->
	<script th:src="@{js/jquery3_5_1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	
	<script h:src="@{js/modulo.js}"></script>
	<!--===============================================================================================-->

</body>
</html>