
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Uniprotec Games</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{images/logo.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"  th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{css/main.css}" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,600&display=swap" rel="stylesheet"> 
<!--===============================================================================================-->


</head>
<body>
	<div id="head">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="#">GAMER UNIPROTEC</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor01">
		     <ul class="navbar-nav mr-auto">
		      <li class="nav-item ">
		        <a class="nav-link " href="#">Inicio
		          <span class="sr-only">(current)</span>
		        </a>
		      </li>
		      <li class="nav-item active ">
		        <a class="nav-link" href="/accesoModulo">Acceso Modulo</a>
		      </li>
		      
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configuracion</a>
		        <div class="dropdown-menu">
		          <a class="dropdown-item" href="#seccion0">Action</a>
		          <a class="dropdown-item" href="#"> action1</a>
		          <a class="dropdown-item" href="#">action2</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Cerrar Sesion</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>	
	</div>
	<div id="menuleft">
	</div>
	<div id="body">
		<div class="row boxShadow container-fluid ">
			<div class="col-6" style="padding:2rem;">
			 <img th:src="@{images/cursos.png}" alt=""  style="max-width: 12.0rem; max-height: 12.0rem"/>
			 <p class="lead">Modulo Didactico _Nombre_.</p>
			</div> 
			<div class="col-6  " >
				<br><br>
				<ul class="fa-ul">
				  <li class="" id="usuarioAlta"><a href="#seccion0"><i class="fa-li fa fa-2x fa-microchip"></i><p>MODULO DIDACTICO</p></a></li>
				  <hr class="my-4">
				</ul>
				<br>
			</div> 
		</div>
		<div class="row seccionOperacion" id="seccionOperacion" >
			 <img th:src="@{images/crucigrama.jpg}" alt=""  style="max-width: auto; max-height: auto"/>
		</div>	
	</div>
	<div id="footer">
		<div id="footerDatos" class="footer">
			Derechos Reservados @Uniprotec 2021
		</div>
		<div id="footerLogo" class="footer">
			<img th:src="@{images/logo.png}" alt=""  style="max-width: 12.0rem; max-height: 12.0rem"/>
		</div>
	</div>


<!--===============================================================================================-->
	<script th:src="@{js/jquery3_5_1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	
	<script h:src="@{js/modulo.js}"></script>
	<!--===============================================================================================-->

</body>
</html>