
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Gamer -- Uniprotec</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{images/logo.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"  th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{css/main.css}" />
<!-- Date picker -->
	 <link th:href="@{css/default.css}" rel="stylesheet">
    <link th:href="@{css/default.date.css}" rel="stylesheet">
    <link th:href="@{css/default.time.css}" rel="stylesheet">
<!--===============================================================================================-->


</head>
<body class="parallax" background="images/virtual10.jpg" >
	<div id="head">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
		  <a class="navbar-brand" href="#">GAMER UNIPROTEC</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor01">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item ">
		        <a class="nav-link" href="/inicio">Inicio
		          <span class="sr-only">(current)</span>
		        </a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/usuarios">Usuarios</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/cursos">Cursos</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/estadisticas">Estadísticas</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configuracion</a>
		        <div class="dropdown-menu">
		          <a class="dropdown-item" href="#seccion0">Action</a>
		          <a class="dropdown-item" href="#"> action1</a>
		          <a class="dropdown-item" href="#">action2</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Cerrar Sesion</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>	
	</div>
	<div id="menuleft">
	</div>
	
	<div id="body">
		<div class="row boxShadow container-fluid ">
			<div class="col-6  " >
			 <img th:src="@{images/configuracion usuario.png}" alt=""  style="max-width: 12.0rem; max-height: 12.0rem"/>
			 <p class="lead">TABLERO DE ASIGNACION DE USUARIOS.</p>
			</div> 
			<div class="col-6  " >
				<br><br>
				<ul class="fa-ul">
				  <li class="" id="usuarioAlta"><a href="#seccion0"><i class="fa-li fa fa-2x fa-user-circle"></i><p>ALTA USUARIO</p></a></li>
				  <hr class="my-4">
				  <li class="" id="usuarioInstructor"><a href="#seccion1"><i class="fa-li fa fa-2x fa-address-book"></i><p>CONFIGURAR USUARIO INSTRUCTOR</p></a></li>
				  <hr class="my-4">
				  <li class="" id="usuarioAudencia"><a href="#seccion2"><i class="fa-li fa fa-2x fa-id-card"></i><p>CONFIGURAR USUARIO AUDIENCIA</p></a></li>
				  <hr class="my-4">
				  <li class="" id="usuarioConsulta"><a href="#seccion3"><i class="fa-li fa fa-2x fa-users"></i><p>CONSULTA USUARIOS STATUS</p></a></li>
				</ul>
				<br>
			</div> 
		</div>
		<hr class="">	
	<a id="seccion0"></a>
		<div class="row seccionOperacion" id="seccionOperacion">
		</div>	
		  <hr>
			<div class=" seccionOperacion" id="usuarioAudienciaForm">
			 <form id="formAltaUsuarioAudiencia" th:action="@{/altaAudiencia}"  th:object="${usuarioAudiencia}" method="post">
			   <div class="form-group">
		              <label for="exampleFormControlSelect1">Fecha de Actividad *</label>
		              <input id="usuarioAudenciaFecha" class="elementoInput datepicker form-control" th:field="*{usuarioAudienciaFecha}" name="usuarioAudienciaFecha" type="text"  required onchange="validaFecha(this)"/>
		        </div>
		        <div class="form-group">
			      <label for="exampleSelect2">Selecciona Asignación de Evento *</label>
			      <select  class="form-control elementoInput" id="selectAsignaEvento" th:field="*{usuarioAudienciaEvento}">
			      </select>
			    </div>
				 <div class="form-group">
				      <label for="">Nombre Personal Responsable Audencia - Instructor</label>
				      <input type="text" class="form-control elementoInput" id="usuarioAudenciaNombre" th:field="*{usuarioAudienciaResponsable}"  placeholder="Nombre Personal Responsable Audencia">
				      <small id="emailHelp" class="form-text text-muted">En caso de no contar con el nombre del personal responsable de audencia, este campo se podrá editar. No obligatorio</small>
			   	</div>   
			    <div class="form-group">
			      <label for="exampleSelect2">Selecciona Modulo Didáctico *</label>
			      <select multiple="" class="form-control elementoInput" id="selectModulosCurso" th:field="*{usuarioAudienciaModulos}">
			        <option value="memoria">Memoria</option>
			        <option value="crucigrama">Crucigrama</option>
			        <option value="test">Test Aprovechamiento</option>
			        <option value="certificados">Certificados</option>
			      </select>
			    </div>
			    <input type="hidden" th:field="*{usuarioAudienciaParticipantes}" id="usuarioAudienciaParticipantes">
			    <input type="hidden" th:field="*{usuarioAudienciaIdAsignacion}" id="usuarioAudienciaIdAsignacion">
			    <div class="form-group" id="divListaUsuarios">
			    	
			    </div>
				<br><hr>
				<button type="submit" id="btnActivarUsuarios" class="btn btn-success">Activar Usuarios</button>
			</form>
		</div>
		
		<a id="seccion1"></a>
		<div class="seccionOperacion" id="usuarioConfigurarInstructorForm">
			
		</div>
		
	
	</div>
	<div id="footer">
	
		<div id="footerDatos" class="footer">
			Derechos Reservados @Uniprotec 2021
		</div>
		<div id="footerLogo" class="footer">
			<img th:src="@{images/logo.png}" alt=""  style="max-width: 12.0rem; max-height: 12.0rem"/>
		</div>
	</div>


<script th:inline="javascript">
 		 var asignaciones = [[${model.jsonResponse.asignaciones}]];
//  		 var instructores = [[${model.jsonResponse.instructores}]];
//  		 var cursos = [[${model.jsonResponse.cursos}]];
 		
 		 
	</script>
<!--===============================================================================================-->
	<script th:src="@{js/jquery3_5_1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	
	<script th:src="@{js/usuarios.js}"></script>
	
	<!-- Date picker -->
	<script th:src="@{js/picker.js}"></script>   
    <script th:src="@{js/picker.date.js}"></script>   
    <script th:src="@{js/picker.time.js}"></script>   
    <script th:src="@{js/es_ES.js}"></script>
    
    
	<script type="text/javascript">
    var today = new Date();
    var $datepicker = $( '.datepicker' ).pickadate({
     min : today
    })
	</script>
	
	
	<!--===============================================================================================-->

</body>
</html>