<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTECT V 1.0 PROTOTIPO.</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="images/logo.png"/>
    <link th:href="@{main.css}" rel="stylesheet">
</head>

<body>

    
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-database"> </i>
                                ACliente
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                Projects
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">User
                                                Account</button>
                                            <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                            <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Alina Mclourd
                                    </div>
                                    <div class="widget-subheading">
                                        VP People Manager
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a href="index.html" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                             <li class="app-sidebar__heading">MODULOS</li>
                            <li th:each= "modulo : ${model.getJsonResponse().fields.user.modules}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
                                            <i class="metismenu-icon"></i>
                                            <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                            <li class="app-sidebar__heading">ACCIONES</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-mouse">
                                    </i>NUEVA ASIGNACION
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="metismenu-icon pe-7s-eyedropper">
                                    </i>CURSOS AGENDADOS
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="metismenu-icon pe-7s-pendrive">
                                    </i>CONSULTAS
                                </a>
                            </li>
            
                        </ul>
                    </div>
                </div>  
            </div> 

             <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-news-paper icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>ALTA INSTRUCTOR
                                    <div class="page-title-subheading"> FORMULARIO PARA ACTIVAR NUEVO INSTRUCTOR
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!--  
                    	SECCION DE EDICION  
                    -->
                    <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">INSTRUCTOR UNIPROTEC</h5>
                                <form id="altaInstructor" class="login100-form validate-form needs-validation" novalidate action="#" th:action="@{/altaInstructor}"  th:object="${instructorForm}" method="post">
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom01">Nombre Instructor</label>
                                            <input type="text" class="form-control"  id="nombreInstructor" name="nombreInstructor" placeholder="Capture Nombre Instructor" value=""  maxlength="100" th:field="*{nombreInstructor}" required>
                                            <div class="invalid-feedback">
                                                Capturar Nombre Corto
                                            </div>
                                        </div>
                                     </div>
                                     <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom02">Email</label>
                                            <input type="email" class="form-control" th:field="*{emailInstructor}" id="emailInstructor" placeholder="email" value="" maxlength="100" required>
                                            <div class="invalid-feedback">
                                                Capturar Email Valido
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom02">Region Origen</label>
                           				     <select id="regionInstructor" th:field="*{regionInstructor}" name="empresaModelo" class="form-control" default="" >
	                								<option value="1">Queretaro</option>
	                								<option value="2">Guanajuato</option>
	              							</select>
                                            <div class="invalid-feedback">
                                                Capturar Sede Valida
                                            </div>
                                        </div>
                                      </div>
                                  <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom02">Curso Especialidad</label>
                                            <select id='custom-headers' multiple='multiple' th:field="*{listCursoInstructor}" name="listCursoInstructor" class="form-control searchable">
											  <option value='1' selected>elem 1</option>
											  <option value='2'>elem 2</option>
											  <option value='3'>elem 3</option>
											  <option value='4' selected>elem 4</option>
											  <option value='100'>elem 100</option>
											</select>
                                            <div class="invalid-feedback">
                                                Capturar por lo menos un Curso
                                            </div>
                                        </div>
                                   </div>
                                  <div class="form-row">
                                      <label class=" control-label" for="textarea">Notas Instructor</label>
								            <div class="">                     
								              <textarea class="form-control" th:field="*{notaInstructor}" id="notaInstructor" rows="3" cols="150" ></textarea>
								            </div>
							         </div>
                                        
                                <br>
                                    
                                    <button class="btn btn-primary" type="submit">Agregar Instructor</button>
                                </form>
            
                                <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                                </script>
                            </div>
                        </div>
                                              
                        <!-- 
                        	FIN DE SECCION DE EDICION 
                        -->

                                       <!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-left">
                                                    <ul class="nav">
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Footer Link 1
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Footer Link 2
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Footer Link 3
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>NEW</small>
                                                                </div>
                                                                Footer Link 4
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                         </div>
                                     </div>
                                    
                                <!-- Fin Footer-->
                
            </div>  <!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
</div>   <!-- app-container -->
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
</body>

</html>