<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTECT V 1.0 PROTOTIPO.</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="images/logo.png"/>

    <link th:href="@{main.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{css/process.css}">


</head>

<body>

    
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-database"> </i>
                                ACliente
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                Projects
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">User
                                                Account</button>
                                            <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                            <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Alina Mclourd
                                    </div>
                                    <div class="widget-subheading">
                                        VP People Manager
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a th:href="@{inicio}" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                             <li class="app-sidebar__heading">MODULOS</li>
								<li th:each= "modulo : ${model.jsonResponse.fields.user.modules}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
                                            <i class="metismenu-icon"></i>
                                            <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                            <li class="app-sidebar__heading">ACCIONES</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-mouse">
                                    </i>NUEVA ASIGNACION
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="metismenu-icon pe-7s-eyedropper">
                                    </i>CURSOS AGENDADOS
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="metismenu-icon pe-7s-pendrive">
                                    </i>CONSULTAS
                                </a>
                            </li>
            
                        </ul>
                    </div>
                </div>  
            </div> 

             <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-news-paper icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Proceso de Asignacion Curso Uniprotec
                                    <div class="page-title-subheading"> Flujo de Asignacion
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!--  
                    	SECCION DE EDICION  
                    -->
                    <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="container mt-3">
       <h5>Linea de Proceso</h5>
       <br><br>
       <div class="stepwizard col-md-offset-3">

           <div class="stepwizard-row setup-panel">
               <div class="stepwizard-step"> <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                   <p>Empresa</p>
               </div>
               <div class="stepwizard-step"> <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                   <p>Curso</p>
               </div>
               <div class="stepwizard-step"> <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                   <p>Instructor</p>
               </div>
               <div class="stepwizard-step"> <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                   <p>Horario</p>
               </div>
               <div class="stepwizard-step"> <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                   <p>Observaciones</p>
               </div>
           </div>
       </div>
       <form role="form" action="" method="post">
           <div class="row setup-content" id="step-1">
               <div class="col-xs-6 col-md-offset-3">
                   <div class="col-md-12">
                       <h3> Seleccione Cliente</h3>
                       <div class="form-group">
                           <label for="exampleFormControlSelect1">Paso 1</label>
                           <select class="form-control" id="exampleFormControlSelect1">
                               <option>Cliente 1</option>
                               <option>Cliente 2</option>
                               <option>Cliente 3</option>
                               <option>Cliente 4</option>
                               <option>Cliente 5</option>
                           </select>
                       </div>
                       <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
                   </div>
               </div>
           </div>
           <div class="row setup-content" id="step-2">
               <div class="col-xs-6 col-md-offset-3">
                   <div class="col-md-12">
                       <h3> Seleccione Curso</h3>
                       <div class="form-group">
                           <label for="exampleFormControlSelect1">Paso 2</label>
                           <select class="form-control" id="exampleFormControlSelect1">
                               <option>Curso 1</option>
                               <option>Curso 2</option>
                               <option>Curso 3</option>
                               <option>Curso 4</option>
                               <option>Curso 5</option>
                           </select>
                       </div><button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previo</button> <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
                   </div>
               </div>
           </div>
           <div class="row setup-content" id="step-3">
               <div class="col-xs-6 col-md-offset-3">
                   <div class="col-md-12">
                       <h3>Seleccione Instructor</h3>
                       <div class="form-group">
                           <label for="exampleFormControlSelect1">Paso 3</label>
                           <select class="form-control" id="exampleFormControlSelect1">
                               <option>Instructor 1</option>
                               <option>Instructor 2</option>
                               <option>Instructor 3</option>
                               <option>Instructor 4</option>
                               <option>Instructor 5</option>
                           </select>
                       </div><button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previo</button> <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>

                   </div>
               </div>
           </div>
           <div class="row setup-content" id="step-4">
               <div class="col-xs-6 col-md-offset-3">
                   <div class="col-md-12">
                       <h3> Calendario y Horario</h3>
                       <div class="form-group">
                           <div class="row">
                               <div class="embed-responsive embed-responsive-1by1">
                                   <iframe class="embed-responsive-item" src="https://fullcalendar.io/docs/month-view-demo" allowfullscreen></iframe>
                               </div>
                               <div class="embed-responsive embed-responsive-1by1">
                                   <iframe class="embed-responsive-item" src="https://fullcalendar.io/docs/timegrid-custom-view-demo" allowfullscreen></iframe>
                               </div>
                           </div>
                           <br><br>
                           <div class="row">
                               <div class="col">
                                   <label class="form-check-label" for="cita11">Horario Inicial</label>
                                   <select id="cita11" name="cita11" class="form-control">

                                       <option value="700">7:00</option>
                                       <option value="800">8:00</option>
                                       <option value="900">9:00</option>
                                       <option value="1000">10:00</option>
                                       <option value="1100">11:00</option>
                                       <option value="1200">12:00</option>
                                       <option value="1300">13:00</option>
                                       <option value="1400">14:00</option>
                                       <option value="1500">15:00</option>
                                       <option value="1600">16:00</option>
                                       <option value="1700">17:00</option>
                                       <option value="1800">18:00</option>
                                       <option value="1900">19:00</option>
                                       <option value="2000">20:00</option>

                                   </select>
                               </div>
                               <div class="col">
                                   <label class="form-check-label" for="cita11">Horario . Final </label>
                                   <select id="cita11" name="cita11" class="form-control">

                                       <option value="700">7:00</option>
                                       <option value="800">8:00</option>
                                       <option value="900">9:00</option>
                                       <option value="1000">10:00</option>
                                       <option value="1100">11:00</option>
                                       <option value="1200">12:00</option>
                                       <option value="1300">13:00</option>
                                       <option value="1400">14:00</option>
                                       <option value="1500">15:00</option>
                                       <option value="1600">16:00</option>
                                       <option value="1700">17:00</option>
                                       <option value="1800">18:00</option>
                                       <option value="1900">19:00</option>
                                       <option value="2000">20:00</option>

                                   </select>
                               </div>
                               <div class="col">
                                   <label class="form-check-label" for="cita11">Comida</label>
                                   <select id="cita11" name="cita11" class="form-control">

                                       <option value="700">7:00</option>
                                       <option value="800">8:00</option>
                                       <option value="900">9:00</option>
                                       <option value="1000">10:00</option>
                                       <option value="1100">11:00</option>
                                       <option value="1200">12:00</option>
                                       <option value="1300">13:00</option>
                                       <option value="1400">14:00</option>
                                       <option value="1500">15:00</option>
                                       <option value="1600">16:00</option>
                                       <option value="1700">17:00</option>
                                       <option value="1800">18:00</option>
                                       <option value="1900">19:00</option>
                                       <option value="2000">20:00</option>

                                   </select>
                               </div>
                               <div class="col">
                                   <label class="form-check-label" for="cita11">Comida Final</label>
                                   <select id="cita11" name="cita11" class="form-control">

                                       <option value="700">7:00</option>
                                       <option value="800">8:00</option>
                                       <option value="900">9:00</option>
                                       <option value="1000">10:00</option>
                                       <option value="1100">11:00</option>
                                       <option value="1200">12:00</option>
                                       <option value="1300">13:00</option>
                                       <option value="1400">14:00</option>
                                       <option value="1500">15:00</option>
                                       <option value="1600">16:00</option>
                                       <option value="1700">17:00</option>
                                       <option value="1800">18:00</option>
                                       <option value="1900">19:00</option>
                                       <option value="2000">20:00</option>

                                   </select>
                               </div>

                           </div>
                       </div>
                       <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previo</button> <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>

                   </div>
               </div>
           </div>
           <div class="row setup-content" id="step-5">
               <div class="col-xs-6 col-md-offset-3">
                   <div class="col-md-12">
                       <h3> Adjuntar Observaciones</h3>
                       <div class="form-group">
                           <label for="exampleFormControlSelect1">Paso 5</label>
                           <textarea required="required" class="form-control" placeholder="Observaciones" rows="4" cols="100"></textarea>

                       </div>
                       <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previo</button>
                       <!--<button class="btn btn-success btn-lg pull-right" type="submit">Agendar</button>-->
                       <!-- Button to Open the Modal -->
                       <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#myModal">
                           Agendar
                       </button>


                   </div>
               </div>
           </div>
       </form>
   </div>


                            </div>
                        </div>
                                              
                        <!-- 
                        	FIN DE SECCION DE EDICION 
                        -->

                                       <!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-left">
                                                    <ul class="nav">
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Footer Link 1
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Footer Link 2
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                Footer Link 3
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>NEW</small>
                                                                </div>
                                                                Footer Link 4
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                         </div>
                                     </div>
                                    
                                <!-- Fin Footer-->
                
            </div>  <!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
</div>   <!-- app-container -->
	
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/process.js}"></script>
</body>

</html>


                       <!-- The Modal -->
                       <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Confirmacion de Asignacion</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body">
                                       <div class="card" style="width: rem;">
                                           <img class="card-img-top" th:src="@{images/Screenshot_5.jpg}" alt="Card image cap">
                                           <div class="card-body">
                                               <h5 class="card-title">Resumen de asignacion</h5>
                                               <ul class="list-group">
                                                   <li class="list-group-item list-group-item-info">Cliente : KaltiaServicios</li>
                                                   <li class="list-group-item list-group-item-info">Curso : Prevencion COVID-19</li>
                                                   <li class="list-group-item list-group-item-info">Instructor : Ingeniero Especialista A </li>
                                                   <li class="list-group-item list-group-item-info">Fecha : Jueves 30 de Abril 2020 </li>
                                                   <li class="list-group-item list-group-item-info">Horario : 8:00 - 14 hrs </li>
                                                   <li class="list-group-item list-group-item-info">Observaciones : Contar equipo de prevencion </li>
                                               </ul>

                                           </div>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                   		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                       <button type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
                                   </div>

                               </div>
                           </div>
                       </div>