
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Uniprotec -- Mexico. Sistema Control</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/logo.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="#" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="#" th:href="@{css/utilLogin.css}" />
<link rel="stylesheet" type="text/css" href="#" th:href="@{css/mainLogin.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="#" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<style>
img {
  max-width: 100%;
  height: auto;
}

*{margin:0;padding:0;font-family:"Source Sans Pro";}

.middle {
    width: 249px;
    height: 97px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
}
.text {
    font-weight: 300;
    font-size: 32px;
    color: #333;
    text-align: center;
    opacity: 0;
    top: 50px;
    position: relative;
}
.hr {
    margin-top: 12px;
    height: 1px;
    width: 262px;
    margin-left: -262px;
    background-color: #bbb;
}
.desc {
    font-weight: 301;
    font-size: 20px;
    color: #333;
    text-align: center;
    overflow: hidden;
}
.desc span {
    margin-top: -24px;
    display: block;
}

</style>
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
<!-- 					<div class="login100-more" style="background-image: url('images/logo.png'); background-size: 10% 10%;" ></div> -->
					<form id="userKaltiaControlFront" class="login100-form validate-form" action="/loginInit" method="post">
					<span> 				<div class="middle">
    <div class="cutoff">
        <p class="text">Explanation of</p>
        <div class="hr"></div>
        <p class="desc"><span class="descText">Computer Science Website</span></p>
    </div>
</div></span>
					<span class="login100-form-title p-b-43" >
							Bienvenido Sistema Control Uniprotec
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Usuario invalido">
						<input class="input100" type="text" name="userName" autofocus id="username" value="">
						<span class="focus-input100"></span>
						<span class="label-input100">Usuario</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password es requerido">
						<input class="input100" type="password" name="password"  id="password" value="">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
					<br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="loginButon2" type="submit">
							Inicio
						</button>
					</div>
					

				</form>

				<div class="login100-more" >
									<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="images/Screenshot_1.jpg" alt="Uniprotec" >
							</div>

							<div class="carousel-item">
								<img src="images/Screenshot_2.jpg" alt="Uniprotec" >
							</div>

							<div class="carousel-item">
								<img src="images/Screenshot_3.jpg" alt="Uniprotec" >
							</div>
						</div>

						<!-- Left and right controls -->
						  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
						    <span class="carousel-control-prev-icon"></span>
						  </a>
						  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
						    <span class="carousel-control-next-icon"></span>
						  </a>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="js/mainLogin.js"></script>
<!-- 	<script src="js/complemento.js"></script> -->
<script>
$( document ).ready(function() {
    
    var a = $(".text");
    var b = $(".hr");
    var c = $(".descText");
    
    a.delay(1000).animate({top: "0", opacity: "1"}, 1000, function() {
        b.delay(500).animate({marginLeft: "0"}, 800, function() {
            c.animate({marginTop: "15"}, 800)
        });
    });
    
    
});
</script>

</body>
</html>