<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTEC 2024</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="assets/images/logo.ico"/>
	    <link th:href="@{main.css}" rel="stylesheet">
	    
	    <link rel="stylesheet" th:href="@{css/bootstrap-table.min.css}">
		
		<link th:href="@{css/default.css}" rel="stylesheet">
	    <link th:href="@{css/default.date.css}" rel="stylesheet">
	    <link th:href="@{css/default.time.css}" rel="stylesheet">
	    
	<!--  chosen select --> 
    	 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

	<style>
		#calendar {
		    max-width: 900px;
		    margin: 0 auto;
		 }
		 
/* 		 .modal:nth-of-type(even) { */
/* 			    z-index: 1052 !important; */
/* 			} */
/* 			.modal-backdrop.show:nth-of-type(even) { */
/* 			    z-index: 1051 !important; */
/* 			} */
			    								
	</style>
	    
</head>

<body background="images/fondo4.png">
   	
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <!--      HEAD INICIO    -->
    <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    
                    <ul class="header-menu nav">
                    
                        <li class="dropdown nav-item">
                            <a href="javascript:alerta();" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <a href="/CUsuario"><button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button></a>
                                            
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <a href="/OffSession"><button type="button" tabindex="0" class="dropdown-item">Cerrar Sesion</button></a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <span th:text="${model.jsonResponse.user.nombre}"></span>
                                    </div>
                                    <div class="widget-subheading">
                                    	<span th:if='${model.jsonResponse.user.perfil == "Vendedor"}'>
											Ventas
										</span>
										<span th:unless='${model.jsonResponse.user.perfil == "Vendedor"}'>
											<span th:text="${model.jsonResponse.user.perfil}"></span>
										</span>
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--      HEAD FIN    --> 
        
        <div class="app-main">
            <!--     LEFT INICIO -->
	<div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a th:href="@{/inicio}" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                            <li class="app-sidebar__heading">MODULOS</li>
                            <li th:each= "modulo : ${model.jsonResponse.modules.modulos}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
                                            <i class="metismenu-icon"></i>
                                            <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                           <li class="app-sidebar__heading">ACCIONES</li>
                            <li th:each= "accion : ${model.jsonResponse.modules.acciones}">
                                <a th:href="${accion.referenciaAccion}">
                                  <i th:class="${accion.iconoAccion}"></i>
                                  <span th:text="${accion.nombreAccion}"></span>
                                </a>
                            </li>

            
                        </ul>
                    </div>
                </div>  
            </div> 
<!--     LEFT FIN -->

			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="app-header-right">
							<br>
                            <span th:if='${ejecucion}'>
								<div class="alert alert-success" role="alert" id="dataExito">
		<!-- 			  					<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Éxito : </b><u>Se ha Actualizado correctamente el Expediente Datos Económicos.</u>
								</div>
							</span>
							<span th:if='${error}'>
								<div class="alert alert-danger" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Revisión : </b><u>No se realizó la Actualizacion del el Expediente Datos Económicos, Verifique datos. </u>
								</div>
							</span>
							<span th:if='${consulta}'>
								<div class="alert alert-warning" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Consulta : </b><u>No se realizó la consulta de los el Expediente Datos Económicos, Notifique Administrador. </u>
								</div>
							</span>
						</div>
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-display1 icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>
									DATOS ECONÓMICOS
									<div class="page-title-subheading">REPORTE DE EXPEDIENTES DATOS ECONOMICOS SIN ASIGNACION</div>
								</div>
							</div>

						</div>
						
					</div>
					<!--  
                    	SECCION DE EDICION  
                    -->
					
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">GENERAR NUEVO EXPEDIENTE DATOS ECONÓMICOS</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4"></div>
						<div class="col-md-6">
		                       <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
		                           <li class="nav-item">
		                               <a  class="nav-link active" id="btnAltaDatosEconomicos" data-toggle="modal" data-target="#modalFormDatosEconomicos">
		                                   <span>Alta Expediente Datos Económicos sin Asignación</span>
		                               </a>
		                           </li>
	                        </ul>
	                    </div>
		                <div class="col-md-2"></div>
					</div>
					
                    <br><hr><hr>
                    
					<!-- 
                     	iNICIO DE SECCION TABLA
                  			-->
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-news-paper icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>
									RESULTADOS DE EXPEDIENTES DATOS ECONÓMICOS SIN ASIGNACIONES
									<div class="page-title-subheading">Edición y complemento</div>
								</div>
							</div>

						</div>
						
					</div>
					    
                    <div class="form-row">
						<div class="col-md-12 mb-3">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<table id='datosEconomicosSinTable' class="mb-0 table table-striped table-sm"
												data-locale="es-MX" 
												data-toggle='table' 
												data-sort-name='formAEImparticion'
												data-search='true' 
												data-sort-order='desc'
												data-pagination='true'
												data-page-list='[10, 25, 50, 100, 200, Todos]'>
												<thead class='thead-dark'>
													<tr>
														<th data-width="5" data-width-unit="%" data-halign="center" data-align="center" data-field='idPreAsignacionAE' data-sortable='true'>Expediente Eco</th>
														<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field='formAEFechaConfirmacion' data-sortable='true'>Confirmacion</th>
														<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field='formAENumFactura' data-sortable='true'>Id Factura</th>
														<th data-width="20" data-width-unit="%" data-halign="center" data-align="center" data-field='formAEClienteTexto' data-sortable='true'>Cliente</th>
														<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field="operateUpdate" data-formatter="operateFormatterUpdate" data-events="window.operateEventsUpdateDE">Edicion</th>
<!-- 														<th data-width="20" data-width-unit="%" data-halign="center" data-align="center" data-field="operateDelete" data-formatter="operateFormatterDelete" data-events="window.operateEventsDelete">Eliminar</th>  -->
													</tr>
												</thead>					
											</table>
								</div>
								<!-- FIN DE SECCION TABLA                  			-->
							</div>
						</div>
					</div>
				<!--  FIN DE SECCION DE EDICION     -->

					<!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>2024</small>
                                                                </div>
                                                                UNIPROTEC 2024
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div></div></div>

                                <!-- Fin Footer-->

			</div>
			<!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
</div>   <!-- app-container -->
<!-- Modal -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                       <!-- Modal Inicio-->
                       <div class="modal" id="modalFormDatosEconomicos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" data-backdrop="false" aria-hidden="true" style="overflow-y: scroll;">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Captura Datos Económicos</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body">
                                       <div class="card" style="width: rem;">
                                           <img class="card-img-top" src="../../../assets/images/logo.png" alt="Uniprotec" style="max-width: 20.0rem; max-height: 20.0rem; display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                           <div class="card-body">
                                           <form role="form" id="altaDatosEconomicos" th:action="@{/altaDatosEconomicos}" class="login100-form validate-form needs-validation" th:object="${datosEconomicosItem}" method="post">
                                               <h5 class="card-title">Formato de datos económicos</h5>
                                               <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Número de Factura</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelNumFactura" ></label></div>
		                                            <input type="text" class="form-control" th:field="*{numFactura}" id="numFactura" placeholder="num Factura" value="" maxlength="100" required autofocus  onfocusout="formatoNumFactura()">
		                                            <div class="invalid-feedback">
		                                                Capturar Datos Númericos
		                                            </div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Prospecto Cliente</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelNumFactura" ></label></div>
													<div class="form-group">
							                           <select id="asignaCliente"  th:field="*{prospectoCliente}" name="asignaCliente" class="form-control chosen"   required>
				                								 <option id="optionSelectCliente" value="0" selected  >Selecciona Cliente</option>
				                								 <option th:each="cliente: ${model.jsonResponseObject.clientes}"
														             th:value="${cliente.idCliente}"
														             th:text="${cliente.nombreCortoCliente}"/>
				              							</select>
				              							<input type="hidden" th:field="*{prospectoClienteTexto}" id="asignaClienteTexto" />
							                       </div>	
		                                        </div>
		                                      </div>
		                                      <hr>
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Venta Real</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelVentaReal" ></label></div>
		                                            <input type="text" class="form-control" th:field="*{ventaReal}" id="ventaReal" placeholder="venta real" value="" maxlength="100" required autofocus  onfocusout="formatoVentaReal()">
		                                            <div class="invalid-feedback">
		                                                Capturar Datos Númericos
		                                            </div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Porcentaje de Venta</label><div class="widget-numbers mt-0 fsize-2 text-success pull-right" id="divPorcentajeVenta"><label id="labelPorcentajeVenta" ></label></div>
		                                            <input type="text" class="form-control" th:field="*{porcentajeVenta}" id="porcentajeVenta" placeholder="porcentaje venta" value="" minlength="1" maxlength="6" onfocusout="formatoPorcentajeVenta()" required>
		                                            <div class="invalid-feedback">
		                                                Capturar Datos Númericos
		                                            </div>
		                                        </div>
		                                      </div>
		                                      <hr>
		                                      
		                                      <div class="form-row" id="divVendedorMain"></div>
		                                       <input type="hidden"  id="vendedoresStr" th:field="*{vendedoresStr}"/>
		                                      <div class="form-row" id="divAgregarVendedores"></div>
		                                      
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                         	<a id="addUser" data-toggle="modal" data-target="#modalFiltroVendedoresComision"class="btn btn-primary"><i style="color: white" class="fa fa-3x fa-user-plus" aria-hidden="true"></i></a>
		                                        </div>
		                                         
		                                      </div>
		                                      <hr>
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Fecha Confirmacion Factura</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaConfirmacion" ></label></div>
		                                            <input type="text" class="datepicker form-control" th:field="*{fechaConfirmacion}" id="fechaConfirmacion"   onchange="formatoFechaConfirmacion()" required>
		                                            <input type="hidden" th:field="*{fechaConfirmacionFormat}" id="fechaConfirmacionFormat" />
		                                            <div id="btnAgregarFechas"><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
		                                            	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas de Confirmacion Recibo Factura</small>
		                                            </div>
		                                            <div class="invalid-feedback">
		                                                Capturar Datos Númericos
		                                            </div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Fecha Promesa de Pago</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaPromesaPago" ></label></div>
		                                            <input type="text" class="datepicker  form-control" th:field="*{fechaPromesaPago}" id="fechaPromesaPago"   onchange="formatoFechaPromesaPago()" required>
		                                            <input type="hidden" th:field="*{fechaPromesaPagoFormat}" id="fechaPromesaPagoFormat" />
		                                            <div id="btnAgregarFechas"><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
		                                            	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas de Cobro Facturacion</small>
		                                            </div>
		                                            <div class="invalid-feedback">
		                                                Capturar Datos Númericos
		                                            </div>
		                                        </div>
		                                      </div>
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Viáticos Totales de Asignación</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelViaticosTotales" ></label></div>
		                                            <input type="text" class="form-control" th:field="*{viaticosTotales}" id="viaticosTotales" placeholder="viaticos totales" value="" maxlength="100" onfocusout="formatoViaticosTotales()" required>
		                                            <div class="invalid-feedback">
		                                                Capturar Datos Númericos
		                                            </div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Observaciones</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelViaticosTotales" ></label></div>
		                                            <textarea class="form-control" th:field="*{observacion}" id="observacion" rows="3" cols="150" ></textarea>
		                                        </div>
		                                        </div>
												<input type="hidden" th:field="*{idAsignacion}" id="idAsignacionDatosEconomicos" />
												<input type="hidden" th:field="*{userCreateAsignacion}" id="userCreateAsignacionDatosEconomicos" />
												<input type="hidden" th:field="*{idDatosEconomicos}" id="idDatosEconomicos" />
												<input type="hidden" th:field="*{listFechaPromesaPago}" id="listFechaPromesaPago" />
												<input type="hidden" th:field="*{listFechaConfirmacion}" id="listFechaConfirmacion" />
<!-- 												<input type="hidden" th:field="*{strFechaPromesaPago}" id="strFechaPromesaPago" /> -->
<!-- 												<input type="hidden" th:field="*{strFechaConfirmacion}" id="strFechaConfirmacion" /> -->
                                               <br>
                                       		<span class="float-left">
                                       			<button type="submit" class="btn btn-success pull-left" id="btnActualizarDatosEconomicos"   disabled>Actualizar Datos Económicos</button>
                                       		</span>

											</form>
                                           </div>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                   		
                                       	<span class="float-right">
                                       			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                       	</span>                                   		
                                       
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                       <!-- Modal Inicio-->
                       <div class="modal" id="modalEdicionDatosEconomicos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" data-backdrop="false" aria-hidden="true" style="overflow-y: scroll;">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Asignacion Datos Económicos - Asignacion</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body">
                                       <div class="card" style="width: rem;">
                                           <img class="card-img-top" src="../../../assets/images/logo.png" alt="Uniprotec" style="max-width: 20.0rem; max-height: 20.0rem; display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                           <div class="card-body">
                                           <form role="form" id="edicionDatosEconomicos" th:action="@{/BDatosEconomicos}" class="login100-form validate-form needs-validation" th:object="${datosEconomicosItem}" method="post">
                                               <h5 class="card-title">Resumen datos económicos</h5>
                                               <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Número de Factura</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelNumFacturaEdicion" ></label></div>
		                                            
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Prospecto Cliente</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelProspectoClienteEdicion" ></label></div>
												</div>
		                                      </div>
<!-- 		                                      <hr> -->
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Venta Real</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelVentaRealEdicion" ></label></div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Porcentaje de Venta</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-success pull-left" id="divPorcentajeVentaEdicion"><label id="labelPorcentajeVentaEdicion" ></label></div>
		                                        </div>
		                                      </div>
		                                      <hr>
		                                      <div class="form-row">
		                                        <div class="col-md-12 mb-3">
		                                            <h5 class="card-title">Vendedores</h5>
		                                            <br><div  id="divVendedoresEdicion"></div>
		                                        </div>
		                                      </div>
		                                      <hr>
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Fecha Confirmacion Factura</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelFechaConfirmacionEdicion" ></label></div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Fecha Promesa de Pago</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelFechaPromesaPagoEdicion" ></label></div>
		                                        </div>
		                                      </div>
		                                      <div class="form-row">
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Viáticos Totales de Asignación</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelViaticosTotalesEdicion" ></label></div>
		                                        </div>
		                                        <div class="col-md-6 mb-3">
		                                            <label for="validationCustom02">Observaciones</label>
		                                            <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelObservacionesEdicion" ></label></div>
		                                        </div>
		                                       </div>
		                                       <hr>
		                                      
		                                       <h5 class="card-title">Relación de Asignaciones sin Expediente Económico</h5>
		                                       <div class="form-row">
		                                        <div class="col-md-12 mb-3">
		                                            <table id='asignacionesOutDETable' class="mb-0 table table-striped table-sm"
														data-locale="es-MX" 
														data-toggle='table' 
														data-sort-name='idAsignacion'
														data-search='true' 
														data-sort-order='desc'
														data-pagination='true'
														data-page-list='[10, 25, 50, 100, 200, Todos]'
														data-detail-formatter="detailFormatter"
														 data-checkbox-header="false"
  														data-click-to-select="true">
														<thead class='thead-dark'>
															<tr>
															 	<th data-field="state" data-checkbox="true"></th>
																<th data-field="idAsignacion">ID</th>
													            <th data-field="fechaAsignacion">Fecha</th>
													            <th data-field="cursoAsignacion">Nombre Curso</th>
													            <th data-field="instructorAsignacion">Instructor</th>
													            <th data-field="statusAsignacion">Estatus</th>
																<th data-field="expedienteAsignacion">Expediente Asignacion</th>
<!-- 																<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field="operateUpdate" data-formatter="operateFormatterGet" data-events="window.operateEventsUpdateAsignacion">Expediente</th> -->
		<!-- 														<th data-width="20" data-width-unit="%" data-halign="center" data-align="center" data-field="operateDelete" data-formatter="operateFormatterDelete" data-events="window.operateEventsDelete">Eliminar</th>  -->
															</tr>
														</thead>		
														<tbody id="bodyAsignacion"></tbody>			
													</table>
		                                        </div>
		                                      </div>
		                                      
												<input type="hidden" th:field="*{idDatosEconomicos}" id="idDatosEconomicosEdicion" />
												<input type="hidden" th:field="*{idAsignacion}" id="idAsignacionDatosEconomicos" />
												<input type="hidden" th:field="*{userCreateAsignacion}" id="userCreateAsignacionDatosEconomicos" />
												<input type="hidden" th:field="*{listFechaPromesaPago}" id="listFechaPromesaPago" />
												<input type="hidden" th:field="*{listFechaConfirmacion}" id="listFechaConfirmacion" />
												<input type="hidden" th:field="*{listAsignaciones}" id="listAsignaciones" />
                                               <br>
                                               <div class="form-row">
	                                               	<div class="col-md-6 mb-3">
	                                               		<span class="float-left">
	                                       					<button type="submit" class="btn btn-warning pull-left" id="btnEliminarDatosEconomicos"   >Eliminar Expediente</button>
	                                       				</span>
	                                               	</div>
		                                       		<div class="col-md-6 mb-3">
		                                       			<span class="float-rigth">
		                                       			<button type="submit" class="btn btn-success pull-left" id="btnAsignacionDatosEconomicos"   disabled>Actualizar Datos Económicos</button>
		                                       		</span>
		                                       		</div>                                       		   
                                              </div>
											</form>
                                           </div>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                       	<span class="float-right">
                                       			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                       	</span>                                   		                                       
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
					   <!-- Modal Inicio-->
                       
                       <div class="modal" id="modalFiltroVendedoresComision" tabindex="-1" role="dialog"  data-backdrop="false" data-keyboard="false" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog " role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <img class="card-img-top" th:src="@{assets/images/logo.png}" style="max-width: 10.0em; max-height: 10.0em">
                                       <h4 class="modal-title">Integrar Vendedores al Expediente Datos Económicos</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body" >
                                    <ul>
			                            <div  id="modalFiltroVendedor">
									    <li th:each= "vendedor : ${model.jsonResponseObject.vendedores}" style="list-style-type:none" >
			                                <div class="input-group mb-1">
											  <div class="input-group-prepend">
											    <div class="input-group-text">
											      <input type="checkbox" class="checkboxFiltroV" th:id="${vendedor.idVendedor}" >
											    </div>
											  </div>
											  <span th:text="${vendedor.nombreVendedor}" style="padding-left: 10px;"></span>
											</div>
			                            </li>
			                            </div>
									 </ul>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
											<button type="submit"  class="btn btn-info pull-left" id="btnVendedoresComision"  data-dismiss="modal">Agregar Vendedores</button>
											<button type="button" class="btn btn-secondary pull-right" id="btnFiltroCerrar" data-dismiss="modal">Cerrar</button>
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       <!-- Modal Inicio-->
                       <div class="modal" id="modalAsignacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Asignación</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body">
                                       <div class="card" style="width: rem;">
                                           <img class="card-img-top" th:src="@{assets/images/logo.png}" alt="Uniprotec" style="max-width: 20.0rem; max-height: 20.0rem; display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                           <div class="card-body">
                                           <form role="form"  class="login100-form validate-form needs-validation" >
                                               <h5 class="card-title">Resumen de Asignación</h5>
                                               <ul class="list-group">
                                                   <li class="list-group-item list-group-item-info">Cliente : <span id="modalCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Curso : <span id="modalCurso"></span></li>
                                                   <li class="list-group-item list-group-item-info">Instructor : <span id="modalInstructor"></span></li>
                                                   <li class="list-group-item list-group-item-info">Fecha : <span id="modalFecha"></span></li>
                                                   <li class="list-group-item list-group-item-info">Horario : <span id="modalHorario"></span></li>
                                                   <li class="list-group-item list-group-item-info">Participantes : <span id="modalParticipantes"></span></li>
                                                   <li class="list-group-item list-group-item-info">Nivel : <span id="modalNivel"></span></li>
                                                   <li class="list-group-item list-group-item-info">Observaciones : <span id="modalObservaciones"></span></li>
                                                   <li class="list-group-item list-group-item-info">Archivos : <span id="modalArchivos"></span></li>
                                                   <li class="list-group-item list-group-item-info">Status : <span id="modalStatus"></span></li>
                                                   <li class="list-group-item list-group-item-info">Ventas : <span id="modalVentas"></span></li>
                                                   <li class="list-group-item list-group-item-info">Archivo Participantes : <span id="modalArchivoParticipantes"></span></li>
                                               </ul>
                                               
<!--                                                <input type="hidden" id="fechaPago" th:field="*{fechaPago}" /> -->
<!--                                                <input type="hidden" id="guiaEntregable" th:field="*{guiaEntregable}" /> -->
<!--                                                <input type="hidden" id="numeroFactura" th:field="*{numeroFactura}" /> -->
<!--                                                <input type="hidden" id="verificarEntregable" th:field="*{verificarEntregable}" /> -->
<!--                                                <input type="hidden" id="costoHotel" th:field="*{costoHotel}" /> -->
                                       			<br>
                                       			<br>
                                       			
<!--                                        			<button type="submit" id="asignaConfirmar" class="btn btn-success pull-right btn-lg" >Confirmar y Revision Expediente Asignación</button>         -->
											</form>
                                           </div>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                   		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                       
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       
                       


<script th:inline="javascript">
var asignaciones = [[${model.jsonResponseObject.asignaciones}]];
var instructores = [[${model.jsonResponseObject.instructores}]];
var vendedores= [[${model.jsonResponseObject.vendedores}]];
var clientes= [[${model.jsonResponseObject.clientes}]];
var idUsuario =  [[${model.jsonResponse.user.id}]];
var nombreUsuario =  [[${model.jsonResponse.user.nombre}]];
var perfilUsuario =  [[${model.jsonResponse.user.perfil}]];
var operacionId =  [[${model.jsonResponse.user.operacionId}]];
var datosEconomicos= [[${model.jsonResponseObject.datosEconomicos}]];
var vendedoresDatosEconomicos= [[${model.jsonResponseObject.vendedoresDatosEconomicos}]];
</script>  

    <script type="text/javascript" th:src="@{js/main.js}"></script>
    										    
 	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
		
    <script type="text/javascript" th:src="@{js/ADatosEconomicos.js}"></script>
    <script type="text/javascript" th:src="@{js/ADatosEconomicosTable.js}"></script>
        
    <script th:src="@{js/bootstrap-table.min.js}"></script>
    <script th:src="@{js/bootstrap-table-es-MX.min.js}"></script>
    
    <script th:src="@{js/chosen/chosenui.js}"></script>
    <script th:src="@{js/chosen/chosenmin.js}"></script>
    
    <script th:src="@{js/picker.js}"></script>   
    <script th:src="@{js/picker.date.js}"></script>   
    <script th:src="@{js/picker.time.js}"></script>   
    <script th:src="@{js/es_ES.js}"></script>
    
	<script type="text/javascript">
    var today = new Date();
    var $datepicker1 = $( '#fechaConfirmacion' ).pickadate({
//     	 min : today
    });
    var $datepicker = $( '#fechaPromesaPago' ).pickadate({
//    	 min : today
   });
    $(".chosen").chosen({width: "inherit"}) 

    </script>
    
    
</body>
    
</html>

