<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTEC v 1.7</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="assets/images/logo.ico"/>
                <link th:href="@{css/multi-select.css}" rel="stylesheet">
    <link th:href="@{main.css}" rel="stylesheet">
</head>

<body background="images/fondo9.png">

    
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <!--      HEAD INICIO    -->
    <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    
                    <ul class="header-menu nav">
                    
                        <li class="dropdown nav-item">
                            <a href="javascript:alerta();" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <a href="/CUsuario"><button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button></a>
                                            
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <a href="/OffSession"><button type="button" tabindex="0" class="dropdown-item">Cerrar Sesion</button></a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <span th:text="${model.jsonResponse.user.nombre}"></span>
                                    </div>
                                    <div class="widget-subheading">
                                    	<span th:if='${model.jsonResponse.user.perfil == "Vendedor"}'>
											Ventas
										</span>
										<span th:unless='${model.jsonResponse.user.perfil == "Vendedor"}'>
											<span th:text="${model.jsonResponse.user.perfil}"></span>
										</span>
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--      HEAD FIN    --> 
               
        <div class="app-main">
            <!--     LEFT INICIO -->
	<div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a th:href="@{/inicio}" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                            <li class="app-sidebar__heading">MODULOS</li>
                            <li th:each= "modulo : ${model.jsonResponse.modules.modulos}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
                                            <i class="metismenu-icon"></i>
                                            <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                           <li class="app-sidebar__heading">ACCIONES</li>
                            <li th:each= "accion : ${model.jsonResponse.modules.acciones}">
                                <a th:href="${accion.referenciaAccion}">
                                  <i th:class="${accion.iconoAccion}"></i>
                                  <span th:text="${accion.nombreAccion}"></span>
                                </a>
                            </li>

            
                        </ul>
                    </div>
                </div>  
            </div> 
<!--     LEFT FIN -->

             <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-news-paper icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>ALTA USUARIO
                                    <div class="page-title-subheading"> FORMULARIO PARA ACTIVAR NUEVO USUARIO
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="app-header-right">
							<br>
                            <span th:if='${ejecucion}'>
								<div class="alert alert-success" role="alert" id="dataExito">
		<!-- 			  					<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Éxito : </b><u>Se ha Generado correctamente el nuevo Usuario.</u>
								</div>
							</span>
							<span th:if='${error}'>
								<div class="alert alert-danger" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Revisión : </b><u>No se Generó  Usuario, Verifique datos. </u>
								</div>
							</span>
							<span th:if='${consulta}'>
								<div class="alert alert-warning" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Consulta : </b><u>No se realizó la consulta de los Usuarios, Notifique Administrador. </u>
								</div>
							</span>
					 </div>
                    </div>
                    
                    <!--  
                    	SECCION DE EDICION  
                    -->
                    <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">USUARIO UNIPROTEC</h5>
                                <form id="altaUsuario" class="login100-form validate-form needs-validation" novalidate th:action="@{/altaUsuario}"  th:object="${usuarioForm}" method="post">
                                	<div class="col-md-6 mb-3">
                                            <label for="validationCustom02">Perfil Usuario</label>
                           				     <select id="perfilUsuario" th:field="*{perfilUsuario}" name="perfilUsuario" class="form-control"  required onchange="validaUsuario()">
	                								 <option value="" selected  >Selecciona Perfil</option>
	                								 <option value="Vendedor"   >Vendedor</option>
	                								 <option value="Instructor"   >Instructor</option>
	                								 <option value="Operacion"   >Operacion</option>
	                								 <option value="Administracion"   >Administracion</option>
	                								 <option value="Direccion"   >Direccion</option>
	                								 
	              							</select>
                                            <div class="invalid-feedback">
                                                Capturar Perfil
                                            </div>
                                            <div id="alertaPerfil"></div>
                                    </div>
                                    <div class="form-row" id="nombreUsuarioDiv">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom01">Nombre Usuario</label>
                                            <input type="text" class="form-control"  id="nombreUsuario" name="nombreUsuario" placeholder="Capture Nombre Usuario" value=""  maxlength="100" th:field="*{nombreUsuario}" required disabled>
                                            <div class="invalid-feedback">
                                                Capturar Nombre Usuario
                                            </div>
                                        </div>
                                     </div>                                    
                                     <div class="form-row" id="emailUsuarioDiv">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom02">Email Usuario</label>
                                            <div class="input-group mb-3">
											  <input type="text" class="form-control" th:field="*{emailUsuario}" id="emailUsuario" maxlength="100" required placeholder="Usuario Email" aria-label="Usuario Email" aria-describedby="basic-addon2" disabled>
											  <div class="input-group-append">
											    <span class="input-group-text" id="basic-addon2">@uniprotec.net</span>
											  </div>
											  <div class="invalid-feedback">
                                                Capturar Email Válido
                                            </div>
										 </div>
                                        </div>
                                      </div>
                                  <div class="form-row" id="notaUsuarioDiv">
                                      <label class=" control-label" for="textarea">Notas Usuario</label>
								            <div class="">                     
								              <textarea class="form-control" th:field="*{notaUsuario}" id="notaUsuario" rows="3" cols="150" disabled></textarea>
								            </div>
							         </div>                                      
                                <br>
                                    
                                    <button class="btn btn-primary" type="submit" id="agregarUsuario">Agregar Usuario</button>
                                </form>
            
                                <script>
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                                </script>
                            </div>
                        </div>
                                              
                        <!-- 
                        	FIN DE SECCION DE EDICION 
                        -->

                     	<!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>v 1.7</small>
                                                                </div>
                                                                Derechos Reservados © Uniprotec 2021
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div></div></div>
                                    
                                <!-- Fin Footer-->

                
            </div>  <!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
</div>   <!-- app-container -->
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/usuario.js}"></script>
    
    
</body>

</html>