<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTEC V 1.0</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="images/logo.png"/>

    <link th:href="@{main.css}" rel="stylesheet">
<!--     <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" th:href="@{css/process.css}">
    <link th:href="@{css/default.css}" rel="stylesheet">
    <link th:href="@{css/default.date.css}" rel="stylesheet">
    <link th:href="@{css/default.time.css}" rel="stylesheet">
    <link th:href="@{css/cards.css}" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <style>
	.zona {
	  border: none;
	  color: white;
	  padding: 10px 22px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 12px;
	  margin: 1px 2px;
	  cursor: pointer;
	}

</style>
    


</head>

<body background="images/fondo7.png">
    
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
<!--      HEAD INICIO    -->
    <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    
                    <ul class="header-menu nav">
                    
                        <li class="dropdown nav-item">
                            <a href="javascript:alerta();" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <a href="/CUsuario"><button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button></a>
                                            
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <a href="/OffSession"><button type="button" tabindex="0" class="dropdown-item">Cerrar Sesion</button></a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <span th:text="${model.jsonResponse.user.nombre}"></span>
                                    </div>
                                    <div class="widget-subheading">
                                    	<span th:if='${model.jsonResponse.user.perfil == "Vendedor"}'>
											Ventas
										</span>
										<span th:unless='${model.jsonResponse.user.perfil == "Vendedor"}'>
											<span th:text="${model.jsonResponse.user.perfil}"></span>
										</span>
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--      HEAD FIN    --> 
        
        <div class="app-main">
        <!--     LEFT INICIO -->
	<div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a th:href="@{/inicio}" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                            <li class="app-sidebar__heading">MODULOS</li>
                            <li th:each= "modulo : ${model.jsonResponse.modules.modulos}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
                                            <i class="metismenu-icon"></i>
                                            <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                           <li class="app-sidebar__heading">ACCIONES</li>
                            <li th:each= "accion : ${model.jsonResponse.modules.acciones}">
                                <a th:href="${accion.referenciaAccion}">
                                  <i th:class="${accion.iconoAccion}"></i>
                                  <span th:text="${accion.nombreAccion}"></span>
                                </a>
                            </li>

            
                        </ul>
                    </div>
                </div>  
            </div> 
<!--     LEFT FIN -->

             <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-news-paper icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div><h3>Asignación Curso Uniprotec</h3>
                                    <div class="page-title-subheading"> Detalle de Asignación
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!--  
                    	SECCION DE EDICION  
                    -->
                    <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="container mt-3">
							       <h4>Detalles del Evento Asignado</h4>
							       <br><br>
<!-- 							       	<div class='alert alert-info' id='proceso' role='alert'>Resumen de Proceso de Edicion: -->
<!-- 							       		<ul class='listaProceso'></ul> -->
<!-- 							       	</div> -->
							       
							       <script th:inline="javascript">
							       		 var asignacionItem = [[${asignacionItem}]];
										 var asignacionCliente = [[${model.jsonResponseObject.clientes}]];
										 var idUsuario =  [[${model.jsonResponse.user.id}]];
										 var perfilUsuario =  [[${model.jsonResponse.user.perfil}]];
										 var operacionId =  [[${model.jsonResponse.user.operacionId}]];
									</script>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
 									<div class="form-row">
                                        <div class="col-md-6 mb-4">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
									             <center><i class="fa fa-calendar-check-o" style="color:#3369e8"> </i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Fecha Asignación</h6><div class="pull-right badge" id="fechaAsignacion"></div></div>
<!-- 											</a> -->
									      </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
									             <center><i class="fa fa-info-circle" style="color:#fabc09"> </i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Informacion Cliente</h6><div class="pull-right badge" id="">
									          <button type='button' class='btn btn-default btn-lg' data-toggle='modal' data-target='#myModal'><h4><b><span id="clienteAsignacion"></span></b></h4></button></div>
									          </div>
<!-- 									        </a> -->
									        </div>
									      </div>
                                        </div>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        <div class="form-row">
                                        <div class="col-md-6 mb-4">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color:  rgba(213, 15, 37, 0.1)">
									            <center><i class="fa fa-pencil-square-o" style="color:#d50f25"> </i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Informacion Curso</h6><div class="" id="cursoAsignacion"></div>
									          </div>							          
<!-- 									        </a> -->
                                     	</div>			
										</div>
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
									            <center><i class="fa fa-user" style="color:#BB7824"></i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Instructor Asignado</h6><div class="" id="instructorAsignacion"></div>
									          </div>
<!-- 									        </a> -->
									      </div>
                                        </div>
                                       </div>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
									            <center><i class = "fa fa-clock-o" style="color:#16A085"></i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Horario Curso</h6><div class="" id="horarioAsignacion"></div>
									          </div>
<!-- 									        </a> -->
									      </div>
                                        </div>                                   
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									            <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 90, 71, 0.1)">
									           <center><i class="fa fa-users " style="color:#795a47"> </i></center> 
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Cantidad de Participantes</h6><div class="pull-right badge" id="participantesAsignacion"></div>
									          </div>
<!-- 									        </a> -->
									      </div>
                                        </div>
                                     </div>	
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        <div class="form-row"> 									
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									            <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 95, 71, 0.1)">
									           <center><i class="fa fa-bars" style="color:#795a47"> </i></center> 
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Nivel de Curso</h6><div class="pull-right badge" id="nivelAsignacion"></div>
									          </div>
<!-- 									        </a> -->
									      </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color:rgba(51, 105, 232, 0.1)">
									            <center><i class="fa fa-eye" style="color:#BB7824"></i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Observaciones</h6><div class="" id="observacionesAsignacion"></div>
									          </div>
<!-- 									        </a> -->
									      </div>
                                        </div>
                                        </div>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									          <div class="wrimagecard-topimage_header" style="background-color: rgba(250, 188, 9, 0.1)">
									            <center><i class="fa fa-file-archive-o" style="color:#fabc09"></i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Archivos Adjuntos</h6><div class="" id="archivosAsignacion"></div>
									          </div>
<!-- 									        </a> -->
									      </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
<!-- 									          <a href="#"> -->
									            <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
									           <center><i class="fa fa-cog" style="color:#16A085"> </i></center> 
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Status Curso</h6><div class="pull-right badge" id="">
									          <button type='button' class='btn btn-default btn-lg' data-toggle='modal' data-target='#myModal2'><h4><b><span id="statusAsignacion1"></span></b></h4></button></div>
									          </div>
									          </div>
									          
<!-- 									        </a> -->
									      </div>
                                        </div>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
                                        <form role="form" th:action="@{/actualizaAsignacionI}" class="login100-form validate-form needs-validation" th:object="${asignacionItem}" method="post" id="edicionAsignacion0">
                                        <div class="form-row">                                        
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
									          <div class="wrimagecard-topimage_header" style="background-color: rgba(213, 15, 37, 0.1)">
									            <center><i class="fa fa-calendar-check" style="color:#d50f25"></i></center>
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Fecha de Pago</h6>
									          
									          	<input type="text" class="datepicker form-control"  id="fechaPago0" name="fechaPago0" placeholder="Asigna Fecha de Pago" value=""  maxlength="100" th:field="*{fechaPago}" required>
									          </div>
									      </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="wrimagecard wrimagecard-topimage">
									            <div class="wrimagecard-topimage_header" style="background-color: rgba(51, 105, 232, 0.1)">
									           <center><i class="fa fa-file" style="color:#3369e8"> </i></center> 
									          </div>
									          <div class="wrimagecard-topimage_title"><h6>Numero de Factura</h6>
									          	<input type="text" class="form-control"  id="numeroFactura0" name="numeroFactura0" placeholder="Capture Numero de Factura" value=""  maxlength="100" th:field="*{numeroFactura}" required>
									          </div>
									          </div>
									      </div>
                                        </div>
                                         <div class="form-row">    
	                                        <div class="col-md-6 mb-3">
	                                        	<button type="submit" id="asignaConfirmar" class="btn btn-success pull-center btn-lg" >Agregar Administracion</button>
	                                        </div>
                                        </div>
                                         		<input type="hidden" id="idAsignacion0" th:field="*{idAsignacion}" />
                                               <input type="hidden" id="idAsignacionLogica0" th:field="*{idAsignacionLogica}" />
                                               <input type="hidden" id="fechaAsignacion0" th:field="*{fechaAsignacion}" />
                                               <input type="hidden" id="idClienteAsignacion0"   th:field="*{idClienteAsignacion}"    />
                                               <input type="hidden" id="clienteAsignacion0"   th:field="*{clienteAsignacion}"    />
                                               <input type="hidden" id="idCursoAsignacion0" th:field="*{idCursoAsignacion}" />
                                               <input type="hidden" id="cursoAsignacion0" th:field="*{cursoAsignacion}" />
                                               <input type="hidden" id="idInstructorAsignacion0" th:field="*{idInstructorAsignacion}" />
                                               <input type="hidden" id="instructorAsignacion0" th:field="*{instructorAsignacion}" />
                                               <input type="hidden" id="horarioAsignacion0" th:field="*{horarioAsignacion}" />
                                               <input type="hidden" id="participantesAsignacion0" th:field="*{participantesAsignacion}" />
                                               <input type="hidden" id="nivelAsignacion0" th:field="*{nivelAsignacion}" />
                                               <input type="hidden" id="archivosAsignacion0" th:field="*{archivosAsignacion}" />
                                               <input type="hidden" id="archivosAsignacionTexto0" th:field="*{archivosAsignacionTexto}" />
                                               <input type="hidden" id="observacionesAsignacion0" th:field="*{observacionesAsignacion}" />
                                               <input type="hidden" id="idRegionAsignacion0" th:field="*{idRegionAsignacion}" />
                                               <input type="hidden" id="nombreRegionAsignacion0" th:field="*{nombreRegionAsignacion}" />
                                               <input type="hidden" id="tipoCursoAsignacion0" th:field="*{tipoCursoAsignacion}" />
                                               <input type="hidden" id="statusAsignacion0" th:field="*{statusAsignacion}" />
                                               <input type="hidden" id="verificarEntregable0" th:field="*{verificarEntregable}" />
                                               <input type="hidden" id="userCreateAsignacion0" th:field="*{userCreateAsignacion}" />
                                               <input type="hidden" id="userCreateAsignacionTexto0" th:field="*{userCreateAsignacionTexto}" />
                                               <input type="hidden" id="guiaEntregable0" th:field="*{guiaEntregable}" />
                                        </form>
                                       
									 </div>
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->
<!--                     -----------------------------------------------------------------------------------------------------------------        -->							           
							       
							   </div>
							</div>
						</div>
                                              
                        <!-- 
                        	FIN DE SECCION DE EDICION 
                        -->

                                       	<!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>V1.0</small>
                                                                </div>
                                                                Derechos Reservados © Uniprotec 2020
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div></div></div>

                                <!-- Fin Footer-->
                
            </div>  <!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
<!-- </div>   app-container -->
<!-- 	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script> -->
 
    
    <script type="text/javascript" th:src="@{js/main.js}"></script>
<!--     <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>

   
   <script type="text/javascript" th:src="@{js/fileUpload.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/purify.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
    
    <script th:src="@{js/process.js}"></script>
    <script th:src="@{js/picker.js}"></script>   
    <script th:src="@{js/picker.date.js}"></script>   
    <script th:src="@{js/picker.time.js}"></script>   
    <script th:src="@{js/es_ES.js}"></script>
    <script th:src="@{js/edicionAsignacionI.js}"></script>
    <script type="text/javascript">
    var today = new Date();
    var $datepicker = $( '.datepicker' ).pickadate({
     
    })
	
        </script>
    
</body>

</html>


                       <!-- Modal Inicio-->
                       <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Cliente</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body">
                                       <div class="card" style="width: rem;">
                                           <img class="card-img-top" th:src="@{assets/images/logo.png}" alt="Card image cap">
                                           <div class="card-body">
                                           <form role="form" >
                                               <h5 class="card-title">Detalle de cliente</h5>
                                               <ul class="list-group">
                                                   <li class="list-group-item list-group-item-info">Cliente : <span id="nombreCortoCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Region : <span id="regionCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Nombre Contacto Recibe : <span id="nombreContactoRecibeCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Email Contacto : <span id="emailCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Telefono : <span id="telefonoCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Google Map : <span id="googleMapsCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Domicilio : <span id="domicilioCliente"></span></li>
                                                   <!-- vendedor asignado -->
                                                   <li class="list-group-item list-group-item-info">Reglas Acceso : <span id="reglasAccesoCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Documentos Acceso : <span id="documentosAccesoCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Material Didactico : <span id="materialDidacticoCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Pauta Operativa : <span id="pautaOperativaCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Pauta General de Enfoque: <span id="pautaGeneralCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Pauta Entregable : <span id="pautaEntregableCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Representante Empresa : <span id="representanteEmpresaCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Representante Trabajador : <span id="representanteTrabajadorCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Informacion Paqueteria : <span id="informacionPaqueteriaCliente"></span></li>
                                                   <li class="list-group-item list-group-item-info">Imagen Logotipo : <a href="" id="linkLogo" ><span id="imagenLogoCliente"></span></a></li>
                                                   <li class="list-group-item list-group-item-info">Archivos Cliente : <a href="" id="linkFile" ><span id="archivosCliente"></span></a></li>                                                   
                                               </ul>
                                                <br>
                                       			<br>
                                       			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                       			        
											</form>
                                           </div>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                   		
                                       
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       
                                              <!-- Modal Inicio-->
                       <div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Status Evento</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body">
                                       <div class="card" style="width: rem;">
                                           <img class="card-img-top" th:src="@{assets/images/logo.png}" alt="Card image cap">
                                           <div class="card-body">
                                           <form role="form" th:action="@{/actualizaAsignacionI}" class="login100-form validate-form needs-validation" th:object="${asignacionItem}" method="post">
                                               <h5 class="card-title">Avanzar Etapa de proceso de Evento</h5>
                                               <input type="hidden" id="idAsignacion" th:field="*{idAsignacion}" />
                                               <input type="hidden" id="idAsignacionLogica" th:field="*{idAsignacionLogica}" />
                                               <input type="hidden" id="fechaAsignacion" th:field="*{fechaAsignacion}" />
                                               <input type="hidden" id="idClienteAsignacion"   th:field="*{idClienteAsignacion}"    />
                                               <input type="hidden" id="clienteAsignacion"   th:field="*{clienteAsignacion}"    />
                                               <input type="hidden" id="idCursoAsignacion" th:field="*{idCursoAsignacion}" />
                                               <input type="hidden" id="cursoAsignacion" th:field="*{cursoAsignacion}" />
                                               <input type="hidden" id="idInstructorAsignacion" th:field="*{idInstructorAsignacion}" />
                                               <input type="hidden" id="instructorAsignacion" th:field="*{instructorAsignacion}" />
                                               <input type="hidden" id="horarioAsignacion" th:field="*{horarioAsignacion}" />
                                               <input type="hidden" id="participantesAsignacion" th:field="*{participantesAsignacion}" />
                                               <input type="hidden" id="nivelAsignacion" th:field="*{nivelAsignacion}" />
                                               <input type="hidden" id="archivosAsignacion" th:field="*{archivosAsignacion}" />
                                               <input type="hidden" id="archivosAsignacionTexto" th:field="*{archivosAsignacionTexto}" />
                                               <input type="hidden" id="observacionesAsignacion" th:field="*{observacionesAsignacion}" />
                                               <input type="hidden" id="idRegionAsignacion" th:field="*{idRegionAsignacion}" />
                                               <input type="hidden" id="nombreRegionAsignacion" th:field="*{nombreRegionAsignacion}" />
                                               <input type="hidden" id="tipoCursoAsignacion" th:field="*{tipoCursoAsignacion}" />
                                               <input type="hidden" id="statusAsignacion" th:field="*{statusAsignacion}" />
                                               <input type="hidden" id="verificarEntregable" th:field="*{verificarEntregable}" />
                                               <input type="hidden" id="userCreateAsignacion" th:field="*{userCreateAsignacion}" />
                                               <input type="hidden" id="userCreateAsignacionTexto" th:field="*{userCreateAsignacionTexto}" />
<!--                                                <input type="hidden" id="guiaEntregable" th:field="*{guiaEntregable}" /> -->
                                               <input type="hidden" id="fechaPago" th:field="*{fechaPago}" />
                                               <input type="hidden" id="numeroFactura" th:field="*{numeroFactura}" />
                                               <ul class="list-group" id="procesoEvento">
                                                   <li class="list-group-item list-group-item-info">Status Actual : <span id="modalStatus"></span></li>
                                                   <li class="list-group-item list-group-item-info">Avanzar Etapa : <span id="consirmarStatus"></span></li>
                                                                                                      
                                               </ul>
                                              
                                       			<br>
                                       			<br>
                                       			<button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                                       			
                                       			        
											</form>
                                           </div>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                   		
                                       
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->