<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTECT V 1.0</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="images/logo.png"/>
	    <link th:href="@{main.css}" rel="stylesheet">
	    <link rel="stylesheet" th:href="@{css/multi-select.css}">
	    <link rel="stylesheet" th:href="@{css/bootstrap-table.min.css}">
 		<link th:href="@{css/default.css}" rel="stylesheet">
    	<link th:href="@{css/default.date.css}" rel="stylesheet">
    	<link th:href="@{css/default.time.css}" rel="stylesheet">    
	    
</head>

<body background="images/fondo3.png">
   	
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <!--      HEAD INICIO    -->
    <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    
                    <ul class="header-menu nav">
                    
                        <li class="dropdown nav-item">
                            <a href="javascript:alerta();" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <a href="/CUsuario"><button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button></a>
                                            
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <a href="/OffSession"><button type="button" tabindex="0" class="dropdown-item">Cerrar Sesion</button></a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <span th:text="${model.jsonResponse.user.nombre}"></span>
                                    </div>
                                    <div class="widget-subheading">
                                    	<span th:if='${model.jsonResponse.user.perfil == "Vendedor"}'>
											Ventas
										</span>
										<span th:unless='${model.jsonResponse.user.perfil == "Vendedor"}'>
											<span th:text="${model.jsonResponse.user.perfil}"></span>
										</span>
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--      HEAD FIN    --> 
        
        <div class="app-main">
            <!--     LEFT INICIO -->
	<div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a th:href="@{/inicio}" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                            <li class="app-sidebar__heading">MODULOS</li>
                            <li th:each= "modulo : ${model.jsonResponse.modules.modulos}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
                                            <i class="metismenu-icon"></i>
                                            <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                           <li class="app-sidebar__heading">ACCIONES</li>
                            <li th:each= "accion : ${model.jsonResponse.modules.acciones}">
                                <a th:href="${accion.referenciaAccion}">
                                  <i th:class="${accion.iconoAccion}"></i>
                                  <span th:text="${accion.nombreAccion}"></span>
                                </a>
                            </li>

            
                        </ul>
                    </div>
                </div>  
            </div> 
<!--     LEFT FIN -->

			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-news-paper icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>
									EDICION y CONSULTA INSTRUCTORES
									<div class="page-title-subheading">TABLA DE CONSULTA INSTRUCTORES</div>
								</div>
							</div>

						</div>
						<div class="app-header-right">
							<br>
                            <span th:if='${ejecucion}'>
								<div class="alert alert-success" role="alert" id="dataExito">
		<!-- 			  					<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Éxito : </b><u>Se ha Actualizado correctamente el Instructor.</u>
								</div>
							</span>
							<span th:if='${error}'>
								<div class="alert alert-danger" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Revisión : </b><u>No se realizó la Actualizacion del Instructor, Verifique datos. </u>
								</div>
							</span>
							<span th:if='${consulta}'>
								<div class="alert alert-warning" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Consulta : </b><u>No se realizó la consulta de los Instructores, Notifique Administrador. </u>
								</div>
							</span>
					 </div>
					</div>

					<!--  
                    	SECCION DE EDICION  
                    -->
					<!-- 
                     			iNICIO DE SECCION TABLA
                  			-->
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">INSTRUCTORES UNIPROTEC</h5>

									<table id='instructoresTable' class="mb-0 table table-striped table-sm"
										data-locale="es-MX" 
										data-toggle='table' 
										data-sort-name='nombreInstructor'
										data-search='true' 
										data-sort-order='desc'
										data-pagination='true'
										data-page-list='[10, 25, 50, 100, 200, Todos]'>
										<thead class='thead-dark'>
											<tr>
												<th data-width="50" data-width-unit="%" data-halign="center" data-align="center" data-field='nombreInstructor' data-sortable='true'>Nombre Instructor</th>
												<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field='statusInstructor' data-sortable='true'>Status</th>
												<th data-width="20" data-width-unit="%" data-halign="center" data-align="center" data-field="operateUpdate" data-formatter="operateFormatterUpdate" data-events="window.operateEventsUpdateInstructor">Editar</th>
<!-- 												<th data-width="20" data-width-unit="%" data-halign="center" data-align="center" data-field="operateDelete" data-formatter="operateFormatterDelete" data-events="window.operateEventsDelete">Eliminar</th> -->
											</tr>
										</thead>					
									</table>
								
								</div>
								<!-- FIN DE SECCION TABLA                  			-->
							</div>
						</div>
					</div>
					
				<!--  FIN DE SECCION DE EDICION     -->

					<!-- Footer-->
                                                                              <div class="app-wrapper-footer">
                                        <div class="app-footer">
                                            <div class="app-footer__inner">
                                                <div class="app-footer-right">
                                                    <ul class="nav">
                                                        
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">
                                                                <div class="badge badge-success mr-1 ml-0">
                                                                    <small>V1.0</small>
                                                                </div>
                                                                Derechos Reservados © Uniprotec 2020
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div></div></div>

                                <!-- Fin Footer-->

			</div>
			<!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
</div>   <!-- app-container -->

<!--  -->


	
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.multi-select.js}"></script>
    
    <script th:inline="javascript">
		 var $data = [[${model.jsonResponseObject.instructores}]];
		 var $cursosTotal = [[${model.jsonResponseObject.cursos.cursos}]];
	</script>
	
    <script th:src="@{js/picker.js}"></script>   
    <script th:src="@{js/picker.date.js}"></script>   
    <script th:src="@{js/picker.time.js}"></script>   
    <script th:src="@{js/es_ES.js}"></script>
     
    											    
    <script type="text/javascript" th:src="@{js/complemento.js}"></script>
    
    <script th:src="@{js/bootstrap-table.min.js}"></script>
    <script th:src="@{js/bootstrap-table-es-MX.min.js}"></script>
	
	

</body>

</html>


 <!-- Modal -->
  <div class="modal fade" id="modalRegistro" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #F1FFFE">
          <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
          <h4 style="padding:35px 50px; position: center">Edicion Instructor</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span></h4>
        </div>
        <div class="modal-body" style="padding:40px 50px; ">
          <form id="altaCliente" class="login100-form validate-form needs-validation" novalidate action="#" th:action="@{/actualizaInstructor}"  th:object="${instructorForm}" method="post">
          <input type="hidden" id="idInstructor" th:field="*{idInstructor}" th:value="*{idInstructor}"/>
          <input type="hidden" id="listFechas" th:field="*{listFechas}" th:value="*{listFechas}"/>
          <input type="hidden" id="statusInstructor" th:field="*{statusInstructor}" />
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom01">Nombre Corto</label>
                                            <input type="text" class="form-control"  id="nombreInstructor" name="nombreInstructor" placeholder="Capture Nombre Instructor" value=""  maxlength="150"  required>
                                            <div class="invalid-feedback">
                                                Capturar Nombre Corto
                                            </div>
                                        </div>
                                     </div>
                                     <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom01">Email Instructor Empresa</label>
                                            <input type="email" class="form-control"  id="emailInstructor" name="emailInstructor" placeholder="Capture Email Instructor" value=""  maxlength="150"  required>
                                            <div class="invalid-feedback">
                                                Capturar Email Válido
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom01">Email Instructor Gmail</label>
                                            <input type="email" class="form-control"  id="emailGmailInstructor" name="emailGmailInstructor" placeholder="Capture Email Gmail Instructor" value=""  maxlength="150"  required>
                                            <div class="invalid-feedback">
                                                Capturar Email Válido
                                            </div>
                                        </div>
                                     </div>
                                     
                                     <div class="form-row">
                                         <label for="validationCustom02">Region Instructor</label>
                           				     <select id="regionInstructor"name="regionInstructor" class="form-control" required>
													<option th:each="region: ${model.jsonResponseObject.regiones.regiones}"
											             th:value="${region.idRegion}"
											             th:text="${region.nombreRegion}"/>
	              							</select>
                                            <div class="invalid-feedback">
                                                Capturar Sede Valida
                                            </div>
                                      </div>
                                     
                                      <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom02">Lista de Cursos.</label>
                                            <select id='listCursoInstructor' multiple='multiple'  name="listCursoInstructor" class="form-control" required>
<!-- 											   <option th:each="instructor: ${model.jsonResponseObject.instructor.instructores}" -->
<!-- 											             th:value="${instructor.idInstructor}" -->
<!-- 											             th:text="${instructor.nombreInstructor}" /> -->
<!-- <option value="1" selected >1</option> -->
<!-- <option value="2"  >2</option> -->
<!-- <option value="3" selected >3</option> -->
<!-- <option value="4" >4</option> -->
											</select>
                                            <div class="invalid-feedback">
                                                Capturar por lo menos un Curso
                                           </div>
                                       </div>                                     
                                   </div>
                                   <div class="form-row">
                                      <div class="col-md-6 mb-3">
							               <label for="validationCustom02">Inicio Fechas Ausencia.</label>
							               <input id="inicioAusencia" class="datepicker form-control" name="date" type="text" onchange="fechasAusencia(this)" />											
							          </div>
							          <div class="col-md-6 mb-3">
							               <label for="validationCustom02">Fin Fechas Ausencia.</label>
							               <input id="finAusencia" class="datepicker form-control" name="date" type="text"  />
							          </div> 
							          <div id="fechas"></div>
							          
							      </div>
							      <input id="btnFechasAusencia" name="btnFechasAusencia" type="button"  value="Agregar Fechas" class="btn btn-info" onclick="sumaFechas()" disabled/>
							         <br>
                                  <div class="form-row">
                                      <label class=" control-label" for="textarea">Nota Instructor</label>
								            <div class="">                     
								              <textarea class="form-control" th:field="*{notaInstructor}" id="notaInstructor" rows="3" cols="150" required></textarea>
								            </div>
							         </div>
							         <div class="col-md-8 mb-3">
								                       <h5><b>Status Instructor :</b></h5>
								                       <div role="group" class="btn-group btn-group-toggle" data-toggle="buttons">
		                                                	<button type="button" id="statusInstructorbtn" class="btn btn-info" onclick="checkStatusInstructor()"></button>
	                                            		</div>
	                                            		<br>
		                                                	<small class="form-text text-muted">Dar click en el boton si desea dar de Baja Instructor.</small>
	                                               </div>
 
                                <br>
                                    
                                    <button class="btn btn-primary" type="submit">Edicion Instructor</button>
                                </form>
						        <script>
								 	var today = new Date();
								    var $datepicker = $( '#inicioAusencia' ).pickadate({
								     min : today
								    })
								    
								    var $datepicker2 = $( '#finAusencia' ).pickadate({
								     min : today
								    })
								</script>
								<script type="text/javascript" th:src="@{js/fechasAusencia.js}"></script>
                                <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                                </script>
        </div>
        <div class="modal-footer" style=" background-color: #F1FFFE">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
      
    </div>
  </div> 
