<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8"/>
    <title>UNIPROTEC v 3.2.0</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="assets/images/logo.ico"/>
	    <link th:href="@{main.css}" rel="stylesheet">
	    <link rel="stylesheet" th:href="@{css/bootstrap-table.min.css}">
	    
	    <link th:href="@{css/default.css}" rel="stylesheet">
	    <link th:href="@{css/default.date.css}" rel="stylesheet">
	    <link th:href="@{css/default.time.css}" rel="stylesheet">
	    
	    
</head>

<body background="images/fondo1.png">
   	
    <div class="app-container  body-tabs-shadow fixed-sidebar fixed-header">
        <!--      HEAD INICIO    -->
    <div class="app-header header-shadow bg-royal header-text-light" >
            <div class="app-header__logo bg-heavy-rain header-text-dark" style="position:center'; margin :0px">
                <div class="logo-src2" ><img width="90%"  th:src="@{assets/images/logo.png}"alt=""></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    
                    <ul class="header-menu nav">
                    
                        <li class="dropdown nav-item">
                            <a href="javascript:alerta();" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
											 class="p-0 btn">
											 <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
											     alt="">
											 <i class="fa fa-angle-down ml-2 opacity-8"></i>
											                                        </a>
											                                        <div tabindex="-1" role="menu" aria-hidden="true"
											 class="dropdown-menu dropdown-menu-right">
											 <a href="/CUsuario"><button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button></a>
											 
											 <div tabindex="-1" class="dropdown-divider"></div>
											 <a href="/OffSession"><button type="button" tabindex="0" class="dropdown-item">Cerrar Sesion</button></a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <span th:text="${model.jsonResponse.user.nombre}"></span>
                                    </div>
                                    <div class="widget-subheading">
                                    	<span th:if='${model.jsonResponse.user.perfil == "Vendedor"}'>
											Ventas
										</span>
										<span th:unless='${model.jsonResponse.user.perfil == "Vendedor"}'>
										<span th:text="${model.jsonResponse.user.perfil}"></span>
										</span>
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--      HEAD FIN    --> 
        
        <div class="app-main">
            <!--     LEFT INICIO -->
	<div class="app-sidebar sidebar-shadow bg-royal sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">  
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">PRINCIPAL</li>
                            <li>
                                <a th:href="@{/inicio}" class="mm-active">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    CONTROL
                                </a>
                            </li>
                            <li class="app-sidebar__heading">MODULOS</li>
                            <li th:each= "modulo : ${model.jsonResponse.modules.modulos}">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span th:text="${modulo.nombreModulo}"></span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li th:each= "submodulo : ${modulo.submodules}">
                                        <a th:href="${submodulo.referenciaSubmodulo}">
											 <i class="metismenu-icon"></i>
											 <span th:text="${submodulo.nombreSubmodulo}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
            
                           <li class="app-sidebar__heading">ACCIONES</li>
                            <li th:each= "accion : ${model.jsonResponse.modules.acciones}">
                                <a th:href="${accion.referenciaAccion}">
                                  <i th:class="${accion.iconoAccion}"></i>
                                  <span th:text="${accion.nombreAccion}"></span>
                                </a>
                            </li>

            
                        </ul>
                    </div>
                </div>  
            </div> 
<!--     LEFT FIN -->

			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-news-paper icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>
									REPORTE FACTURACION
									<div class="page-title-subheading">SEGUIMIENTO FACTURAS</div>
								</div>
							</div>

						</div>
						<div class="app-header-right">
							<br>
                            <span th:if='${ejecucion}'>
								<div class="alert alert-success" role="alert" id="dataExito">
		<!-- 			  					<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Éxito : </b><u>Se ha Actualizado correctamente el Expediente Económico.</u>
								</div>
							</span>
							<span th:if='${error}'>
								<div class="alert alert-danger" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Revisión : </b><u>No se realizó la Actualizacion el Expediente Económico, Verifique datos. </u>
								</div>
							</span>
							<span th:if='${consulta}'>
								<div class="alert alert-warning" role="alert" id="dataError">
		<!-- 			  							<b>Revision</b><span th:text="${dataEjecucion.mensaje}"></span> -->
									<b>Consulta : </b><u>No se realizó la consulta del Expediente Económico. Notifique Administrador. </u>
								</div>
							</span>


		                </div>
					</div>

					<!--  
                    	SECCION DE EDICION  
                    -->
					<!-- 
                     			iNICIO DE SECCION TABLA
                  			-->
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">RELACION FACTURAS UNIPROTEC</h5>
									<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                            <li class="nav-item">
                                <a  class="nav-link active" id="btnFiltroFechas" data-toggle="modal" data-target="#modalFiltroFechas">
                                    <span>Filtro Fechas </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link active" id="btnFiltroVendedores" data-toggle="modal" data-target="#modalFiltroVendedores">
                                    <span>Filtro Vendedores</span>
                                </a>
                            </li>
                            </ul>

									<table id='facturaTable' class="mb-0 table table-striped table-sm"
										data-locale="es-MX" 
										data-toggle='table' 
										data-sort-name='idExpedienteEconomico'
										data-search='true' 
										data-sort-order='asc'
										data-pagination='true'
										data-page-list='[10, 25, 50, 100, 200, Todos]'
										data-detail-view="true"
  										data-detail-formatter="detailFormatter">
										<thead class='thead-dark'>
										<tr>
											<th data-width="5" data-width-unit="%" data-halign="center" data-align="center" data-field='idExpedienteEconomico' data-sortable='true'>ID EXPEDIENTE</th>
											<th data-width="5" data-width-unit="%" data-halign="center" data-align="center" data-field='Factura' data-sortable='true'>FACTURA</th>
											<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field='Asignacion' data-sortable='true'>ASIGNACION</th>
											<th data-width="30" data-width-unit="%" data-halign="center" data-align="center" data-field='Cliente' data-sortable='true'>CLIENTE</th>
											<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field='Monto' data-sortable='true'>MONTO</th>
											<th data-width="15" data-width-unit="%" data-halign="center" data-align="center" data-field='FechaPromesaPago' data-sortable='true'>Promesa de Pago</th>
											<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field='Estatus' data-sortable='true'>ESTATUS</th>
											<th data-width="10" data-width-unit="%" data-halign="center" data-align="center" data-field="operateUpdate" data-formatter="operateFormatterUpdate" data-events="window.operateEventsUpdate">Editar</th>
										<!-- 	<th data-width="20" data-width-unit="%" data-halign="center" data-align="center" data-field="operateDelete" data-formatter="operateFormatterDelete" data-events="window.operateEventsDelete">Eliminar</th> -->
										</tr>
										</thead>					
									</table>
									<script>
									  function detailFormatter(index, row) {
									    var html = []
									    $.each(row, function (key, value) {
									      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
									    })
									    return html.join('')
									  }
									</script>
								
								</div>
								<!-- FIN DE SECCION TABLA                  			-->
							</div>
						</div>
					</div>
					
				<!--  FIN DE SECCION DE EDICION     -->

					<!-- Footer-->
                                       <div class="app-wrapper-footer">
                                        <div class="app-footer">
										 <div class="app-footer__inner">
										     <div class="app-footer-right">
										         <ul class="nav">
										             
										             <li class="nav-item">
										                 <a href="javascript:void(0);" class="nav-link">
										                     <div class="badge badge-success mr-1 ml-0">
										                         <small>v 3.2.0</small>
										                     </div>
										                     Derechos Reservados © Uniprotec 2023
										                 </a>
										             </li>
										         </ul>
										     </div>
										 </div></div></div>
                                <!-- Fin Footer-->
			</div>
			<!--  app-main__inner -->
        </div>  <!-- fin de app-main__outer-->
	</div>  <!-- app-main -->
</div>   <!-- app-container -->

<!--  -->
	
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    
<script th:inline="javascript">
var asignaciones = [[${model.jsonResponseObject.asignaciones}]];
var datosEconomicos= [[${model.jsonResponseObject.datosEconomicos}]];

var vendedoresDatosEconomicos= [[${model.jsonResponseObject.vendedoresDatosEconomicos}]];
var vendedores= [[${model.jsonResponseObject.vendedores}]];
var clientes= [[${model.jsonResponseObject.clientes}]];

var idUsuario =  [[${model.jsonResponse.user.id}]];
var nombreUsuario =  [[${model.jsonResponse.user.nombre}]];
var perfilUsuario =  [[${model.jsonResponse.user.perfil}]];
var operacionId =  [[${model.jsonResponse.user.operacionId}]];

</script>  
	<script type="text/javascript" th:src="@{js/CReporteFactura.js}"></script>
	<script type="text/javascript" th:src="@{js/filtrosReporteFactura.js}"></script>										    
    <script th:src="@{js/bootstrap-table.min.js}"></script>
    <script th:src="@{js/bootstrap-table-es-MX.min.js}"></script>
</body>

</html>

 <!-- Modal -->
  <div class="modal fade" id="modalReporteFactura" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #F1FFFE">
          <img class="card-img-top" th:src="@{assets/images/logo.png}" style="max-width: 20.0rem; max-height: 20.0rem; display: block; margin-left: auto; margin-right: auto; width: 50%;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span></h4>
        </div>
        <div class="modal-body">
<!--         <br> -->
<!--         <h3>Edicion Reporte Factura : <span id="modalNombreVendedorAnalisis"></span></h3> -->
        
            <form role="form" id="edicionDatosEconomicos" th:action="@{/BDatosEconomicos2}" class="login100-form validate-form needs-validation" th:object="${datosEconomicosItem}" method="post">
			    <h4 class="card-title">Resumen datos económicos <b><span class="widget-numbers mt-0 fsize-2 text-primary pull-left" id="idExpedienteEconomico" ></span></b></h4>
			    <input type="hidden" th:field="*{idDatosEconomicos}" id="idDatosEconomicos" />
			    <div class="form-row">
				  <div class="col-md-4 mb-3">
					 <label for="validationCustom02">Número de Factura</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelNumFacturaEdicion" ></label></div>
					 
				  </div>
				  <div class="col-md-4 mb-3">
					 <label for="validationCustom02">Estatus Factura</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelEstatusFactura" ></label></div>
				</div>
				<div class="col-md-4 mb-3">
					 <label for="validationCustom02">Fecha Emisión</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaEmision" ></label></div>
					 <input type="text" class="datepicker form-control" th:field="*{fechaEmision}" id="fechaEmision"   onchange="formatoFechaEmision()" required>
		             <input type="hidden" th:field="*{fechaEmisionFormat}" id="fechaEmisionFormat" />
		             <div id="btnAgregarFechasEmision"><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
		            	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas de Emisión Factura</small>
					 </div>
				</div>
				</div>
				<div class="form-row">
				  <div class="col-md-4 mb-3">
					 <label for="validationCustom02">Monto</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelVentaRealEdicion" ></label></div>
					 
				  </div>
				  	<div class="col-md-4 mb-3">
					 <label for="validationCustom02">Total IVA</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelVentaRealIVAEdicion" ></label></div>
					</div>
					<div class="col-md-4 mb-3">
						 <label for="validationCustom02">Porcentaje de Venta</label>
						 <br><div class="widget-numbers mt-0 fsize-2 text-success pull-left" id="divPorcentajeVentaEdicion"><label id="labelPorcentajeVentaEdicion" ></label></div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-4 mb-3">
		                 <label for="validationCustom02">Fecha Confirmacion Factura</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaConfirmacion" ></label></div>
		                 <input type="text" class="datepicker form-control" th:field="*{fechaConfirmacion}" id="fechaConfirmacion"   onchange="formatoFechaConfirmacion()" required>
		                 <input type="hidden" th:field="*{fechaConfirmacionFormat}" id="fechaConfirmacionFormat" />
		                 <div id="btnAgregarFechas"><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
		                	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas de Confirmacion Recibo Factura</small>
						</div>
					  </div>
		              <div class="col-md-4 mb-3">
		                 <label for="validationCustom02">Fecha Promesa de Pago</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaPromesaPago" ></label></div>
		                 <input type="text" class="datepicker  form-control" th:field="*{fechaPromesaPago}" id="fechaPromesaPago"   onchange="formatoFechaPromesaPago()" required>
		                 <input type="hidden" th:field="*{fechaPromesaPagoFormat}" id="fechaPromesaPagoFormat" />
		                 <div id="btnAgregarFechas"><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
		                	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas de Cobro Facturacion</small>
		             	</div>
					 </div>
					 <div class="col-md-4 mb-3">
						 <label for="validationCustom02">Fecha Pago / Cancelación</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaPago" ></label></div>
						 <input type="text" class="datepicker form-control" th:field="*{fechaPago}" id="fechaPago"   onchange="formatoFechaPago()" required>
			             <input type="hidden" th:field="*{fechaPagoFormat}" id="fechaPagoFormat" />
			             <div id="btnAgregarFechasEmision"><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
			            	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas de Pago Factura</small>
						 </div>
				  </div>
				</div>
				<hr>
				<div class="form-row">
				  <div class="col-md-6 mb-3">
					 <label for="validationCustom02">Razon Social</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelRFCCliente" ></label></div>
				  </div>
				  <div class="col-md-6 mb-3">
					 <label for="validationCustom02">Nombre Corto</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-success pull-left" ><label id="labelCliente" ></label></div>
				  </div>
				</div>
				<div class="form-row">
				  <div class="col-md-6 mb-3">
					 <label for="validationCustom02">Id Asignacion</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelIdAsignacion" ></label></div>
				  </div>
				  <div class="col-md-6 mb-3">
					 <label for="validationCustom02">Nombre Comercial</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-success pull-left" ><label id="labelClienteRazonSocial" ></label></div>
				  </div>
				</div>
				<hr>
				<div class="form-row">
				  <div class="col-md-12 mb-3">
					 <h5 class="card-title">Vendedores</h5>
					 <br><div  id="divVendedoresEdicion"></div>
				  </div>
				</div>
				<hr>
				<div class="form-row">
				  <div class="col-md-6 mb-3">
					 <label for="validationCustom02">Viáticos Totales de Asignación</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelViaticosTotalesEdicion" ></label></div>
				  </div>
				  <div class="col-md-6 mb-3">
					 <label for="validationCustom02">Observaciones</label>
					 <br><div class="widget-numbers mt-0 fsize-2 text-primary pull-left"><label id="labelObservacionesEdicion" ></label></div>
				  </div>
				 </div>
				 <hr>
				
				<input type="hidden" th:field="*{idDatosEconomicos}" id="idDatosEconomicosEdicion" />
				<input type="hidden" th:field="*{idAsignacion}" id="idAsignacionDatosEconomicos" />
				<input type="hidden" th:field="*{userCreateAsignacion}" id="userCreateAsignacionDatosEconomicos" />
				<input type="hidden" th:field="*{listFechaPromesaPago}" id="listFechaPromesaPago" />
				<input type="hidden" th:field="*{listFechaConfirmacion}" id="listFechaConfirmacion" />
				<input type="hidden" th:field="*{listAsignaciones}" id="listAsignaciones" />
			    <br>
			    <div class="form-row">
				    	<div class="col-md-6 mb-3">
				    		<span class="float-left">
			 				<button type="submit" class="btn btn-success pull-left" id="btnAsignacionDatosEconomicos"  >Actualizar Datos Económicos</button>
			 				</span>
				    	</div>
			   </div>
			</form>
        </div>
        <div class="modal-footer" style=" background-color: #F1FFFE">
          
        </div>
      </div>
      
    </div>
  </div> 
  <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                       <!-- Modal Inicio-->
                       
                       <div class="modal" id="modalFiltroVendedores" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog " role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <img class="card-img-top" th:src="@{assets/images/logo.png}" style="max-width: 10.0em; max-height: 10.0em">
                                       <h4 class="modal-title">Filtro Vendedores</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body" >
                                    <ul>
                                    	<li  style=" list-style-type:none ">
			                                <div class="input-group mb-1">
											  <div class="input-group-prepend">
											    <div class="input-group-text">
											      <input type="checkbox" id="todosVendedores" checked>
											    </div>
											  </div>
											  <span  style="padding-left: 10px;" id="modalNombreVendedor">Todos Vendedores</span>
											</div>
			                            </li>
			                            <hr>
			                            <div  id="modalFiltroVendedor">
									    <li th:each= "vendedor : ${model.jsonResponseObject.vendedores}" style="list-style-type:none" >
			                                <div class="input-group mb-1">
											  <div class="input-group-prepend">
											    <div class="input-group-text">
											      <input type="checkbox" class="checkboxFiltroV" th:id="${vendedor.idVendedor}" >
											    </div>
											  </div>
											  <span th:text="${vendedor.nombreVendedor}" style="padding-left: 10px;"></span>
											</div>
			                            </li>
			                            </div>
									 </ul>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
											<button type="submit"  class="btn btn-info pull-left" id="btnFiltroV" data-dismiss="modal">Actualizar Reporte</button>
											<button type="button" class="btn btn-secondary pull-right" id="btnFiltroCerrar" data-dismiss="modal">Cerrar</button>
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                       <!-- Modal Inicio-->
                       
                       <div class="modal" id="modalFiltroFechas" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <img class="card-img-top" th:src="@{assets/images/logo.png}" style="max-width: 10.0em; max-height: 10.0em">
                                       <h4 class="modal-title">Filtro Fechas Factura</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body" >
				                      <div class="form-row">
										<div class="col-md-4 mb-3">
							                 <label for="validationCustom02">Tipo de Fecha</label>
												<select name="tipoFecha" id="tipoFecha" onChange="validaTipoFecha(this)">
												<option value="" selected >Seleccione Tipo de Fecha</option>
													<option value="EMISION">Fechas Emision</option>
													<option value="CONFIRMACION">Fechas Confirmacion</option>
													<option value="PROMESA">Fechas Promesa de Pago</option>
													<option value="PAGO">Fechas Pago</option>
												</select>
										  </div>
							              <div class="col-md-4 mb-3">
							                 <label for="validationCustom02">Fecha Inicial</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaPromesaPago" ></label></div>
							                 <input type="text" class="datepicker  form-control"  id="fechaInicial"  onchange="formatoFechaInicial()" required disabled >
							                 <div ><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
							                	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas Inicial</small>
							             	</div>
										 </div>
										 <div class="col-md-4 mb-3">
											 <label for="validationCustom02">Fecha Fecha Final</label><div class="widget-numbers mt-0 fsize-2 text-primary pull-right"><label id="labelFechaPago" ></label></div>
											 <input type="text" class="datepicker form-control"  id="fechaFinal"   onchange="formatoFechaFinal()" required disabled>
								             <div ><img width="50%" src="images/calendario.png" style="max-width: 6.0rem; max-height: 6.0rem; width: 15%;">
								            	<small class="form-text text-muted">Click en el campo calendario para agregar Fechas Final</small>
											 </div>
									  </div>
									</div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
											<button type="button"  class="btn btn-info pull-left" id="btnFiltroFechasActualizar" data-dismiss="modal" disabled onclick="actualizaFechas()">Actualizar Reporte</button>
											<button type="button" class="btn btn-secondary pull-right" id="btnFiltroCerrar" data-dismiss="modal">Cerrar</button>
                                   </div>

                               </div>
                           </div>
                       </div>
                       <!-- Modal Fin-->
                       
      <script th:src="@{js/picker.js}"></script>   
    <script th:src="@{js/picker.date.js}"></script>   
    <script th:src="@{js/picker.time.js}"></script>   
    <script th:src="@{js/es_ES.js}"></script>
  
<script type="text/javascript">
    var today = new Date();
    var $datepicker1 = $( '#fechaEmision' ).pickadate({
//     	 min : today
    });
    var $datepicker = $( '#fechaPago' ).pickadate({
//    	 min : today
   });
    var $datepicker2 = $( '#fechaConfirmacion' ).pickadate({
//   	 min : today
  });
    var $datepicker3 = $( '#fechaPromesaPago' ).pickadate({
//   	 min : today
  });
    var $datepicker4 = $( '#fechaInicial' ).pickadate({
//  	 min : today
 });
    var $datepicker5 = $( '#fechaFinal' ).pickadate({
//  	 min : today
 });
      
    
    </script>
  